Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml, eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml, eng/pipelines/dotnet-buildtools-prereqs-centos.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml:
  stages:
  - template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      stagesTemplate: /eng/pipelines/stages/build-test-publish-repo.yml@self
      stagesTemplateParameters:
        versionsRepoRef: VersionsRepo
        linuxAmdBuildJobTimeout: 480
  ...

eng/pipelines/dotnet-buildtools-prereqs-all.yml:
  schedules:
  - cron: 0 5 1,15 * *
    displayName: Monthly rebuild of all images
    branches:
      include:
      - main
    always: true
  extends:
    template: /eng/common/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
  ...

eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-alpine.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210
      linuxArmBuildJobTimeout: 300
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      linuxAmdBuildJobTimeout: 210
      linuxArmBuildJobTimeout: 300

eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-centos.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      stages:
      - template: /eng/pipelines/stages/build-test-publish-repo.yml@self
        parameters:
          internalProjectName: ${{ variables.internalProjectName }}
  ...

eng/pipelines/dotnet-buildtools-prereqs-centos6.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

.
  eng/pipelines/stages/dotnet-buildtools-prereqs.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Pull DSA key from ubuntu keyserver
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net8.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps-builder/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Temp arcade patch
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net8.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps-builder/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

.
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net8.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps-builder/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Point to cacert for alpine
  src/azurelinux/3.0/net10.0/cross/amd64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/arm-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/arm64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/loongarch64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/riscv64-musl/Dockerfile
  src/azurelinux/3.0/net11.0/cross/amd64-musl/Dockerfile
  src/azurelinux/3.0/net11.0/cross/arm-musl/Dockerfile
  src/azurelinux/3.0/net11.0/cross/arm64-musl/Dockerfile
  src/azurelinux/3.0/net11.0/cross/loongarch64-musl/Dockerfile
  src/azurelinux/3.0/net11.0/cross/riscv64-musl/Dockerfile
  src/azurelinux/3.0/net8.0/cross/amd64-musl/Dockerfile
  src/azurelinux/3.0/net8.0/cross/arm-musl/Dockerfile
  src/azurelinux/3.0/net8.0/cross/arm64-musl/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64-musl/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm-musl/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm64-musl/Dockerfile
  src/azurelinux/3.0/net9.0/cross/riscv64-musl/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Delete now-unused debootstrap
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net8.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps-builder/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update Azure Linux 4.0 reference to beta MCR repo
  src/azurelinux/4.0/helix/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update Azure Linux 4.0 image references to beta MCR repo (#1656)
  src/azurelinux/4.0/helix/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Remove temp clone
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net8.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps-builder/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Harden pip packages
  src/azurelinux/3.0/net10.0/cross/amd64-sanitizer/Dockerfile
  src/azurelinux/3.0/net10.0/cross/amd64/Dockerfile
  src/azurelinux/3.0/net10.0/cross/arm/Dockerfile
  src/azurelinux/3.0/net10.0/cross/arm64/Dockerfile
  src/azurelinux/3.0/net10.0/cross/loongarch64/Dockerfile
  src/azurelinux/3.0/net10.0/cross/ppc64le/Dockerfile
  src/azurelinux/3.0/net10.0/cross/riscv64/Dockerfile
  src/azurelinux/3.0/net10.0/cross/s390x/Dockerfile
  src/azurelinux/3.0/net10.0/cross/x86/Dockerfile
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/cross/amd64-sanitizer/Dockerfile
  src/azurelinux/3.0/net11.0/cross/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/cross/arm/Dockerfile
  src/azurelinux/3.0/net11.0/cross/arm64/Dockerfile
  src/azurelinux/3.0/net11.0/cross/loongarch64/Dockerfile
  src/azurelinux/3.0/net11.0/cross/ppc64le/Dockerfile
  src/azurelinux/3.0/net11.0/cross/riscv64/Dockerfile
  src/azurelinux/3.0/net11.0/cross/s390x/Dockerfile
  src/azurelinux/3.0/net11.0/cross/x86/Dockerfile
  src/azurelinux/3.0/net11.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net8.0/cross/amd64/Dockerfile
  src/azurelinux/3.0/net8.0/cross/arm/Dockerfile
  src/azurelinux/3.0/net8.0/cross/arm64/Dockerfile
  src/azurelinux/3.0/net8.0/cross/ppc64le/Dockerfile
  src/azurelinux/3.0/net8.0/cross/riscv64/Dockerfile
  src/azurelinux/3.0/net8.0/cross/s390x/Dockerfile
  src/azurelinux/3.0/net8.0/cross/x86/Dockerfile
  src/azurelinux/3.0/net8.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64-sanitizer/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/ppc64le/Dockerfile
  src/azurelinux/3.0/net9.0/cross/riscv64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/s390x/Dockerfile
  src/azurelinux/3.0/net9.0/cross/x86/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps-builder/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Reduce the scope of libbsd requirement
  src/azurelinux/3.0/net11.0/cross/freebsd/14/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/cross/freebsd/14/arm64/Dockerfile
  src/azurelinux/3.0/net11.0/crossdeps-builder/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Reduce the scope of libbsd requirement (#1657)
  src/azurelinux/3.0/net11.0/cross/freebsd/14/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/cross/freebsd/14/arm64/Dockerfile
  src/azurelinux/3.0/net11.0/crossdeps-builder/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

temporarily disable eol annotation generations
  eng/pipelines/dotnet-buildtools-prereqs-official.yml
  eng/pipelines/dotnet-buildtools-prereqs-unofficial.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Extend job disabling reasons
  eng/pipelines/dotnet-buildtools-prereqs-official.yml
  eng/pipelines/dotnet-buildtools-prereqs-unofficial.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Temporarily disable eol annotation generations (#1658)
  eng/pipelines/dotnet-buildtools-prereqs-official.yml
  eng/pipelines/dotnet-buildtools-prereqs-unofficial.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add binlog-mcp container image (azurelinux 3.0, amd64, distroless)
  src/azurelinux/3.0/binlog-mcp/amd64/Dockerfile
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add CODEOWNERS entry for binlog-mcp Dockerfile
  CODEOWNERS
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Switch binlog-mcp base images from net10.0 to net8.0
  src/azurelinux/3.0/binlog-mcp/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Use teams instead of individuals in CODEOWNERS for binlog-mcp
  CODEOWNERS
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/skill-helpers/AzureDevOps.ps1
  eng/docker-tools/skill-helpers/Get-FailingPipelines.ps1
  eng/docker-tools/skill-helpers/Get-RecentBuilds.ps1
  eng/docker-tools/skill-helpers/Show-BuildTimeline.ps1
  eng/docker-tools/skill-helpers/Show-PullRequestBuilds.ps1
  eng/docker-tools/skill-helpers/Show-PullRequestComments.ps1
  eng/docker-tools/templates/1es.yml
  eng/docker-tools/templates/stages/publish.yml
  eng/docker-tools/templates/steps/init-common.yml
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Revert binlog-mcp Dockerfile back to .NET 10 base images
  src/azurelinux/3.0/binlog-mcp/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add Renovate config to auto-update BinlogMcp tool version
  eng/renovate.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add binlog-mcp container image (azurelinux 3.0, amd64, distroless) (#1660)
  CODEOWNERS
  eng/renovate.json
  src/azurelinux/3.0/binlog-mcp/amd64/Dockerfile
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Bump Microsoft.AITools.BinlogMcp to 1.0.0-preview.26303.12
  src/azurelinux/3.0/binlog-mcp/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Bump Microsoft.AITools.BinlogMcp to 1.0.0-preview.26303.12 (#1661)
  src/azurelinux/3.0/binlog-mcp/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add openbsd-x64 image
  src/azurelinux/3.0/net11.0/cross/openbsd/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

.
  src/azurelinux/3.0/net11.0/crossdeps-builder/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

.
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add openbsd-x64 image (#1662)
  src/azurelinux/3.0/net11.0/cross/openbsd/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update dependency llvm/llvm-project to v22.1.7
  src/azurelinux/3.0/net11.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/opt/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update dependency Microsoft.AITools.BinlogMcp to 1.0.0-preview.26304.3
  src/azurelinux/3.0/binlog-mcp/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Disable network isolation feature temporarily
  eng/docker-tools/templates/1es.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update dependency llvm/llvm-project to v22.1.7 (#1663)
  src/azurelinux/3.0/net11.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/opt/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update dependency Microsoft.AITools.BinlogMcp to 1.0.0-preview.26304.3 (#1664)
  src/azurelinux/3.0/binlog-mcp/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

[main] Update common Docker engineering infrastructure with latest (#1632)
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/skill-helpers/AzureDevOps.ps1
  eng/docker-tools/skill-helpers/Get-FailingPipelines.ps1
  eng/docker-tools/skill-helpers/Get-RecentBuilds.ps1
  eng/docker-tools/skill-helpers/Show-BuildTimeline.ps1
  eng/docker-tools/skill-helpers/Show-PullRequestBuilds.ps1
  eng/docker-tools/skill-helpers/Show-PullRequestComments.ps1
  eng/docker-tools/templates/stages/publish.yml
  eng/docker-tools/templates/steps/init-common.yml
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Obtain keyring signatures from the keyring tarball (#1666)
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net8.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps-builder/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

to match https://github.com/dotnet/runtime/pull/128997
  src/azurelinux/3.0/net11.0/webassembly/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml: any of: src
  eng/pipelines/dotnet-buildtools-prereqs-all.yml: any of: src
  eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml: any of: src/almalinux
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml: any of: src/alpine
  eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml: any of: src/centos
  eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml: any of: src/centos/stream9
  eng/pipelines/dotnet-buildtools-prereqs-centos.yml: any of: src/centos
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml: any of: src/centos/6
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml: any file but: src, *.md, .git*, CODEOWNERS, LICENSE
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml: any of: src/nanoserver
  eng/pipelines/dotnet-buildtools-prereqs-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-pr.yml: any file but: *.md
  eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml: any of: src/windowsservercore/20H2
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs.yml: any of: manifest.json, src
