Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml

eng/pipelines/dotnet-buildtools-prereqs-alpine.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/alpine/*
pr:
  branches:
    include:
    - master
  paths:
    include:
    - src/alpine/*

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/alpine/*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-centos6.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/centos/6/*
pr:
  branches:
    include:
    - master
  paths:
    include:
    - src/centos/6/*

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/centos/6*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-centos7.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/centos/7/*
pr: none

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/centos/7*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 120

eng/pipelines/dotnet-buildtools-prereqs-centos8.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/centos/8/*
pr:
  branches:
    include:
    - master
  paths:
    include:
    - src/centos/8/*

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/centos/8*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-debian.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/debian/*
pr:
  branches:
    include:
    - master
  paths:
    include:
    - src/debian/*

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/debian/*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-eng.yml:

trigger: none
pr:
  branches:
    include:
    - master
  paths:
    exclude:
    - src/*
    - README.md

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path '*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210
      customBuildInitSteps:
      - template: /eng/pipelines/steps/install-cross-build-prereqs.yml

eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/nanoserver/1803/*
pr: none

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/nanoserver/1803/*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/opensuse/*
pr: none

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/opensuse/*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 120

Install cmake from cmake.org not Apt (too old in 18.04)
  src/ubuntu/18.04/android/Dockerfile
Due: none

Only install cross build prereqs for cross build legs
  eng/pipelines/steps/install-cross-build-prereqs.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Install cmake from cmake.org not Apt on Android (too old in 18.04) (#278)
  src/ubuntu/18.04/android/Dockerfile
Due: none

Only install cross build prereqs for cross build legs (#279)
  eng/pipelines/steps/install-cross-build-prereqs.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#282)
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Use custom agent pool for Ubuntu 18.04 builds
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add self-hosted pool for PR build too
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add locales to ubuntu 16.0.4
  src/ubuntu/16.04/Dockerfile
Due: none

Lower impact approach
  src/ubuntu/16.04/Dockerfile
Due: none

Use custom agent pool for Ubuntu 18.04 builds (#283)
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

PR feedback
  src/ubuntu/16.04/Dockerfile
Due: none

Add new CentOS8 with updated CMake for source-build
  manifest.json
  src/centos/8/source-build/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add trailing newline
  src/centos/8/source-build/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos8.yml

Fix EOF issue
  src/centos/8/source-build/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos8.yml

Add new CentOS8 with updated CMake for source-build (#285)
  manifest.json
  src/centos/8/source-build/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Link Code of Conduct
  CODE-OF-CONDUCT.md
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Link Code of Conduct (#286)
  CODE-OF-CONDUCT.md
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

add images to build runtime on FreeBSD (#277)
  manifest.json
  src/ubuntu/18.04/cross/freebsd/11/Dockerfile
  src/ubuntu/18.04/cross/freebsd/11/hooks/post-build
  src/ubuntu/18.04/cross/freebsd/11/hooks/pre-build
  src/ubuntu/18.04/cross/freebsd/12/Dockerfile
  src/ubuntu/18.04/cross/freebsd/12/hooks/post-build
  src/ubuntu/18.04/cross/freebsd/12/hooks/pre-build
  src/ubuntu/18.04/crossdeps/Dockerfile
  src/ubuntu/build-scripts/build-rootfs.sh
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add Dockerfile for WebAssembly build
  manifest.json
  src/ubuntu/18.04/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

fix freebsd images
  src/ubuntu/18.04/cross/freebsd/11/Dockerfile
  src/ubuntu/18.04/cross/freebsd/12/Dockerfile
Due: none

Add Dockerfile for WebAssembly build (#287)
  manifest.json
  src/ubuntu/18.04/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

fix freebsd images (#288)
  src/ubuntu/18.04/cross/freebsd/11/Dockerfile
  src/ubuntu/18.04/cross/freebsd/12/Dockerfile
Due: none

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update osVersion names to be normalized
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add publicGitRepoUri variable
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/build.ps1
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

[master] Update common Docker engineering infrastructure with latest (#289)
  eng/common/build.ps1
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/pipelines/variables/common.yml
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add Fedora rawhide build image
  manifest.json
  src/fedora/rawhide/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Fix permissions on emscripten folder
  src/ubuntu/18.04/webassembly/Dockerfile
Due: none

Update common Docker engineering infrastructure with latest (#292)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Fix permissions on emscripten folder (#293)
  src/ubuntu/18.04/webassembly/Dockerfile
Due: none

Add Fedora rawhide build image (#290)
  manifest.json
  src/fedora/rawhide/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#294)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

use openssl as backend for curl
  src/ubuntu/16.04/crossdeps/Dockerfile
Due: none

updates
  src/ubuntu/16.04/crossdeps/Dockerfile
Due: none

use openssl as backend for curl (#295)
  src/ubuntu/16.04/crossdeps/Dockerfile
Due: none
