Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml

eng/pipelines/dotnet-buildtools-prereqs-alpine.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-centos6.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-centos7.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 120

eng/pipelines/dotnet-buildtools-prereqs-centos8.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-debian.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-eng.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        linuxAmdBuildPool: NetCorePublic-Pool
        linuxAmdBuildQueue: BuildPool.Ubuntu.1604.Amd64.Open
  ...

eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-fedora.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 120

eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 150
      linuxAmdBuildPool: NetCorePublic-Pool
      linuxAmdBuildQueue: BuildPool.Ubuntu.1604.Amd64.Open
      customBuildInitSteps:
  ...

eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 150
      linuxAmdBuildPool: NetCoreInternal-Pool
      linuxAmdBuildQueue: BuildPool.Ubuntu.1604.Amd64
      customBuildInitSteps:
  ...

eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      customBuildInitSteps:
      - template: /eng/pipelines/steps/install-cross-build-prereqs.yml

eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

Add Docker image for PPC64 cross-compile
  src/ubuntu/18.04/cross/ppc64/Dockerfile
  src/ubuntu/18.04/cross/ppc64/hooks/post-build
  src/ubuntu/18.04/cross/ppc64/hooks/pre-build
  src/ubuntu/18.04/crossdeps/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Add PPC64 image to manifest
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update src/ubuntu/18.04/cross/ppc64/Dockerfile
  src/ubuntu/18.04/cross/ppc64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Add an Ubuntu 18.04 s390x (IBM Z System) crossrootfs builder
  manifest.json
  src/ubuntu/18.04/cross/s390x/Dockerfile
  src/ubuntu/18.04/cross/s390x/hooks/post-build
  src/ubuntu/18.04/cross/s390x/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#352)
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Change methodology for installing Helix scripts to ensure we get the helix-scripts WHL from the expected AzDO feed
  manifest.json
  src/alpine/3.10/helix/amd64/Dockerfile
  src/alpine/3.10/helix/arm64v8/Dockerfile
  src/alpine/3.11/helix/amd64/Dockerfile
  src/alpine/3.11/helix/arm64v8/Dockerfile
  src/alpine/3.12/helix/amd64/Dockerfile
  src/alpine/3.12/helix/arm64v8/Dockerfile
  src/alpine/3.8/helix/amd64/Dockerfile
  src/alpine/3.8/helix/arm64v8/Dockerfile
  src/alpine/3.9/helix/amd64/Dockerfile
  src/debian/10/helix/amd64/Dockerfile
  src/debian/10/helix/arm32v7/Dockerfile
  src/debian/10/helix/arm64v8/Dockerfile
  src/debian/9/helix/arm32v7/Dockerfile
  src/debian/9/helix/arm64v8/Dockerfile
  src/fedora/30/helix/amd64/Dockerfile
  src/fedora/32/helix/amd64/Dockerfile
  src/nanoserver/1809/helix/amd64/Dockerfile
  src/ubuntu/16.04/helix/arm32v7/Dockerfile
  src/ubuntu/16.04/helix/arm64v8/Dockerfile
  src/ubuntu/18.04/helix/arm32v7/Dockerfile
  src/ubuntu/18.04/helix/arm64v8/Dockerfile
  src/ubuntu/19.10/helix/amd64/Dockerfile
  src/ubuntu/20.04/helix/wasm/amd64/Dockerfile
  src/windowsservercore/1909/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2019/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml

Add cmake 3.6.2 and clang/llvm7
  src/centos/7/source-build/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7.yml

Add clang
  src/centos/7/source-build/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7.yml

Use entrypoint in place of run
  src/centos/7/source-build/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7.yml

Remove env change
  src/centos/7/source-build/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7.yml

Add cmake 3.6.2 and clang/llvm7 (#354)
  src/centos/7/source-build/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7.yml

Update common Docker engineering infrastructure with latest
  eng/common/Invoke-ReadmeGeneration.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add ARM MUSL cross-build image
  manifest.json
  src/ubuntu/18.04/cross/arm-alpine/Dockerfile
  src/ubuntu/18.04/cross/arm-alpine/hooks/post-build
  src/ubuntu/18.04/cross/arm-alpine/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Reflect PR feedback
  src/ubuntu/18.04/cross/arm-alpine/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Add ARM MUSL cross-build image (#356)
  manifest.json
  src/ubuntu/18.04/cross/arm-alpine/Dockerfile
  src/ubuntu/18.04/cross/arm-alpine/hooks/post-build
  src/ubuntu/18.04/cross/arm-alpine/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Update common Docker engineering infrastructure with latest (#355)
  eng/common/Invoke-ReadmeGeneration.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Fix Fedora Rawhide GPG key issue
  src/fedora/rawhide/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml

Fix Fedora Rawhide GPG key issue (#361)
  src/fedora/rawhide/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml

WebAssembly: Update emscripten to 2.0.1
  src/ubuntu/18.04/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Disable building of ARM32 Helix images
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Disable building of ARM32 Helix images (#363)
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

WebAssembly: Update emscripten to 2.0.1 (#362)
  src/ubuntu/18.04/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Revert "Disable building of ARM32 Helix images (#363)"
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Workaround https://github.com/pypa/wheel/issues/367 everywhere Python is installed on an arm32v7 platform
  src/alpine/3.9/arm32v7/Dockerfile
  src/debian/10/helix/arm32v7/Dockerfile
  src/debian/9/helix/arm32v7/Dockerfile
  src/ubuntu/16.04/helix/arm32v7/Dockerfile
  src/ubuntu/18.04/helix/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Add windows server core 2004 helix image
  manifest.json
  src/windowsservercore/2004/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/Invoke-CleanupDocker.ps1
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/set-image-info-path-var.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Reference versions repository for PR pipelines
  eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos6-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml
  eng/pipelines/steps/install-cross-build-prereqs.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add pipeline files for Server Core 2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

[master] Update common Docker engineering infrastructure with latest (#364)
  eng/common/Invoke-CleanupDocker.ps1
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/set-image-info-path-var.yml
  eng/common/templates/variables/docker-images.yml
  eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos6-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml
  eng/pipelines/steps/install-cross-build-prereqs.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

PR Feedback
  src/windowsservercore/2004/helix/amd64/Dockerfile
Due: none

Add arm32v7 Alpine helix image
  manifest.json
  src/alpine/3.12/helix/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add windows server core 2004 helix image (#366)
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml
  manifest.json
  src/windowsservercore/2004/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add workaround for arm python wheel building
  src/alpine/3.12/helix/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml

Add arm32v7 Alpine helix image (#367)
  manifest.json
  src/alpine/3.12/helix/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#368)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add locale gen to Ubuntu 18.04 and Debian stretch
  src/debian/stretch/Dockerfile
  src/ubuntu/16.04/Dockerfile
  src/ubuntu/18.04/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Add locale gen to Ubuntu 18.04 and Debian stretch (#369)
  src/debian/stretch/Dockerfile
  src/ubuntu/16.04/Dockerfile
  src/ubuntu/18.04/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Fix repo path to install cross build prereqs
  eng/common/templates/jobs/build-images.yml
  eng/pipelines/steps/install-cross-build-prereqs.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml: any of: src/alpine
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml: any of: src/centos/6
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml: any file but: src, README.md
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml: any of: src/ubuntu/20*
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml: any of: src/windowsservercore/ltsc2019
