Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml, eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml, eng/pipelines/dotnet-buildtools-prereqs-centos.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml: any of: src
  eng/pipelines/dotnet-buildtools-prereqs-all.yml: any of: src
  eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml: any of: src/almalinux
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml: any of: src/alpine
  eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml: any of: src/centos
  eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml: any of: src/centos/stream9
  eng/pipelines/dotnet-buildtools-prereqs-centos.yml: any of: src/centos
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml: any of: src/centos/6
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml: any file but: src, *.md, .git*, CODEOWNERS, LICENSE
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml: any of: src/nanoserver
  eng/pipelines/dotnet-buildtools-prereqs-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-pr.yml: any file but: *.md
  eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml: any of: src/windowsservercore/20H2
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs.yml: any of: manifest.json, src

Disable AzDO dependabot (#1547)
  .azuredevops/dependabot.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update llvm from version 21.1.3 to version 21.1.5 (#1548)
  src/azurelinux/3.0/net11.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/opt/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add Fedora 43 helix image, refactor Fedora 42, and remove Fedora 40/41 (#1551)
  src/fedora/40/amd64/Dockerfile
  src/fedora/41/amd64/Dockerfile
  src/fedora/42/helix/amd64/Dockerfile
  src/fedora/43/helix/amd64/Dockerfile
  src/fedora/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Move PipAuthenticate task and build args from eng/common to customBuildInitSteps (#1552)
  eng/common/templates/jobs/build-images.yml
  eng/pipelines/stages/dotnet-buildtools-prereqs.yml
  eng/pipelines/steps/pip-authenticate.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add workflow to check and update LLVM version
  .github/workflows/check-llvm-version.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Replace eng/common references with eng/docker-tools
  .github/workflows/linter.yml
  build.ps1
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml
  eng/pipelines/dotnet-buildtools-prereqs-official.yml
  eng/pipelines/dotnet-buildtools-prereqs-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-unofficial.yml
  eng/pipelines/stages/build-test-publish-repo.yml
  eng/pipelines/variables/common.yml
  run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add Alpine 3.23 Dockerfiles and remove Alpine 3.19 and 3.20 (#1554)
  src/alpine/3.19/WithNode/amd64/Dockerfile
  src/alpine/3.23/amd64/Dockerfile
  src/alpine/3.23/helix/Dockerfile
  src/alpine/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update CODEOWNERS
  CODEOWNERS
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update src/ubuntu/manifest.json
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add Ubuntu 26.04 base Dockerfile matching 24.04 (#1555)
  CODEOWNERS
  src/ubuntu/26.04/Dockerfile
  src/ubuntu/26.04/helix/Dockerfile
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Pin libmsquic to 2.4.8 in openSUSE 16.0 helix image (#1556)
  src/opensuse/16.0/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix libmsquic package URL for openSUSE helix images (#1557)
  src/opensuse/16.0/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update llvm from version 21.1.5 to version 21.1.7
  src/azurelinux/3.0/net11.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/opt/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Delete .github/workflows/check-llvm-version.yml
  .github/workflows/check-llvm-version.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update llvm from version 21.1.5 to version 21.1.7 (#1559)
  src/azurelinux/3.0/net11.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/opt/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add GCC 13 and GCC 14 Dockerfiles for Debian (#1560)
  src/debian/12/gcc13/amd64/Dockerfile
  src/debian/13/gcc14/amd64/Dockerfile
  src/debian/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Switch openSUSE 16.0 helix image to use microsoft-opensuse15-testing-prod feed for libmsquic (#1561)
  src/opensuse/16.0/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add openSUSE 16.0 helix image (#1530)
  src/opensuse/16.0/helix/amd64/Dockerfile
  src/opensuse/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Create check-llvm-version.yml
  .github/workflows/check-llvm-version.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1565)
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add Fedora 43 image for source-build (#1567)
  src/fedora/43/amd64/Dockerfile
  src/fedora/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/readme.md
  eng/docker-tools/templates/1es.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml
  eng/docker-tools/templates/variables/common.yml
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1569)
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/readme.md
  eng/docker-tools/templates/1es.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml
  eng/docker-tools/templates/variables/common.yml
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update emsdk to last 3.1.* version
  src/windowsservercore/ltsc2025/helix/webassembly-net8/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update llvm from version 21.1.7 to version 21.1.8
  src/azurelinux/3.0/net11.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/opt/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update other places to the same verison
  src/azurelinux/3.0/net8.0/webassembly/amd64/Dockerfile
  src/windowsservercore/ltsc2022/helix/webassembly-net8/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add openSUSE 15.6 back using opensuse15-testing feed (#1564)
  src/opensuse/15.6/helix/amd64/Dockerfile
  src/opensuse/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/cg-build-projects.yml
  eng/docker-tools/templates/jobs/copy-base-images-staging.yml
  eng/docker-tools/templates/jobs/copy-base-images.yml
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml
  eng/docker-tools/templates/steps/annotate-eol-digests.yml
  eng/docker-tools/templates/steps/clean-acr-images.yml
  eng/docker-tools/templates/steps/copy-base-images.yml
  eng/docker-tools/templates/steps/generate-appsettings.yml
  eng/docker-tools/templates/steps/init-docker-linux.yml
  eng/docker-tools/templates/steps/init-docker-windows.yml
  eng/docker-tools/templates/steps/init-matrix-build-publish.yml
  eng/docker-tools/templates/steps/publish-readmes.yml
  eng/docker-tools/templates/steps/run-imagebuilder.yml
  eng/docker-tools/templates/steps/set-dry-run.yml
  eng/docker-tools/templates/steps/test-images-linux-client.yml
  eng/docker-tools/templates/steps/test-images-windows-client.yml
  eng/docker-tools/templates/steps/validate-branch.yml
  eng/docker-tools/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/docker-tools/templates/variables/common.yml
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Use libmsquic from Microsoft package repos on openSUSE 15.6 and 16.0 (#1573)
  src/opensuse/15.6/helix/amd64/Dockerfile
  src/opensuse/16.0/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Use Microsoft Debian 13 feed for libmsquic in Helix Dockerfile (#1574)
  src/debian/13/helix/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Azurelinux 3.0 .NET 11.0 source-build-test image
  src/azurelinux/3.0/net11.0/source-build-test/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/source-build-test/amd64/run-scancode.sh
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

downgrade symcrypt
  src/azurelinux/3.0/helix/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/cg-build-projects.yml
  eng/docker-tools/templates/jobs/copy-base-images-staging.yml
  eng/docker-tools/templates/jobs/copy-base-images.yml
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml
  eng/docker-tools/templates/steps/annotate-eol-digests.yml
  eng/docker-tools/templates/steps/clean-acr-images.yml
  eng/docker-tools/templates/steps/copy-base-images.yml
  eng/docker-tools/templates/steps/generate-appsettings.yml
  eng/docker-tools/templates/steps/init-docker-linux.yml
  eng/docker-tools/templates/steps/init-docker-windows.yml
  eng/docker-tools/templates/steps/init-matrix-build-publish.yml
  eng/docker-tools/templates/steps/publish-readmes.yml
  eng/docker-tools/templates/steps/run-imagebuilder.yml
  eng/docker-tools/templates/steps/set-dry-run.yml
  eng/docker-tools/templates/steps/test-images-linux-client.yml
  eng/docker-tools/templates/steps/test-images-windows-client.yml
  eng/docker-tools/templates/steps/validate-branch.yml
  eng/docker-tools/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/docker-tools/templates/variables/common.yml
  eng/docker-tools/templates/variables/docker-images.yml
  eng/docker-tools/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml
