Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml, eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml, eng/pipelines/dotnet-buildtools-prereqs-centos.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      linuxAmdBuildJobTimeout: 480
      linuxArmBuildJobTimeout: 300
      linuxAmd64Pool:
  ...

eng/pipelines/dotnet-buildtools-prereqs-all.yml:
  schedules:
  - cron: 0 5 1,15 * *
    displayName: Monthly rebuild of all images
    branches:
      include:
      - main
    always: true
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      stages:
      - template: /eng/pipelines/stages/build-test-publish-repo.yml@self
  ...

eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-alpine.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210
      linuxArmBuildJobTimeout: 300
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      linuxAmdBuildJobTimeout: 210
      linuxArmBuildJobTimeout: 300

eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-centos.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      stages:
      - template: /eng/pipelines/stages/build-test-publish-repo.yml@self
        parameters:
          internalProjectName: ${{ variables.internalProjectName }}
  ...

eng/pipelines/dotnet-buildtools-prereqs-centos6.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add git sha tags for net10.0 images
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Remove trailing comma
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

[main] Update common Docker engineering infrastructure with latest (#1370)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add git sha tags for net10.0 images (#1375)
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Provide a way to disable matrix trimming
  eng/pipelines/dotnet-buildtools-prereqs-all.yml
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Provide a way to disable matrix trimming (#1376)
  eng/pipelines/dotnet-buildtools-prereqs-all.yml
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Same in opt image
  src/azurelinux/3.0/net10.0/opt/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/common/Invoke-ImageBuilder.ps1
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Revert "Add git sha tags for net10.0 images (#1375)"
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Revert "Add git sha tags for net10.0 images" (#1378)
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update Dockerfile for nanoserver
  src/nanoserver/1809/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Remove extra newline in Dockerfile
  src/nanoserver/1809/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update Dockerfile for nanoserver-1809 helix image to fix path (#1379)
  src/nanoserver/1809/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Remove jsvu after installing v8 engine
  src/ubuntu/20.04/helix/wasm/amd64/Dockerfile
  src/ubuntu/22.04/helix/webassembly/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Apply same pattern to Windows
  src/windowsservercore/ltsc2022/helix/webassembly-net8/amd64/Dockerfile
  src/windowsservercore/ltsc2022/helix/webassembly/amd64/Dockerfile
  src/windowsservercore/ltsc2025/helix/webassembly-net8/amd64/Dockerfile
  src/windowsservercore/ltsc2025/helix/webassembly/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Linter is complaining about the use of sudo
  src/ubuntu/20.04/helix/wasm/amd64/Dockerfile
  src/ubuntu/22.04/helix/webassembly/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add arm32 Helix Dockerfile for Ubuntu 22.04
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Don't run as helixbot yet
  src/ubuntu/20.04/helix/wasm/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

PATH var update doesn't apply until after the RUN command is done, so use explicit path
  src/windowsservercore/ltsc2022/helix/webassembly-net8/amd64/Dockerfile
  src/windowsservercore/ltsc2022/helix/webassembly/amd64/Dockerfile
  src/windowsservercore/ltsc2025/helix/webassembly-net8/amd64/Dockerfile
  src/windowsservercore/ltsc2025/helix/webassembly/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update Python version on Windows
  src/nanoserver/1809/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2019/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2022/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2025/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add arm32 Helix Dockerfile for Ubuntu 22.04 (#1381)
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

[main] Update common Docker engineering infrastructure with latest (#1377)
  eng/common/Invoke-ImageBuilder.ps1
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update to 20.1.0
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net10.0/opt/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update to clang 20.1.0-rc2 (#1369)
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net10.0/opt/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Set correct base image for net10 cross freebsd image
  src/azurelinux/3.0/net10.0/cross/freebsd/14/arm64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Remove jsvu after installing v8 engine (#1380)
  src/ubuntu/20.04/helix/wasm/amd64/Dockerfile
  src/ubuntu/22.04/helix/webassembly/amd64/Dockerfile
  src/windowsservercore/ltsc2022/helix/webassembly-net8/amd64/Dockerfile
  src/windowsservercore/ltsc2022/helix/webassembly/amd64/Dockerfile
  src/windowsservercore/ltsc2025/helix/webassembly-net8/amd64/Dockerfile
  src/windowsservercore/ltsc2025/helix/webassembly/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

[main] Update common Docker engineering infrastructure with latest (#1383)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Set correct base image for net10 cross freebsd image (#1385)
  src/azurelinux/3.0/net10.0/cross/freebsd/14/arm64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

[net8.0] [android] Bumped NDK version to 27 (#1356)
  src/azurelinux/3.0/net8.0/android/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add Ubuntu 25.04 image
  src/ubuntu/25.04/helix/Dockerfile
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update libmsic to 2.4.8
  src/debian/13/helix/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Simplify argument use
  src/ubuntu/25.04/helix/Dockerfile
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update per feedback
  src/debian/13/helix/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update libmsquic to 2.4.8 (#1387)
  src/debian/13/helix/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add Ubuntu 25.04 image (#1386)
  src/ubuntu/25.04/helix/Dockerfile
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Enable SHA1 in Fedora 41
  src/fedora/41/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Locate C++ toolchain path dynamically
  src/azurelinux/3.0/net10.0/cross/amd64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/amd64-sanitizer/Dockerfile
  src/azurelinux/3.0/net10.0/cross/amd64/Dockerfile
  src/azurelinux/3.0/net10.0/cross/arm-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/arm/Dockerfile
  src/azurelinux/3.0/net10.0/cross/arm64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/arm64/Dockerfile
  src/azurelinux/3.0/net10.0/cross/loongarch64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/loongarch64/Dockerfile
  src/azurelinux/3.0/net10.0/cross/riscv64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/riscv64/Dockerfile
  src/azurelinux/3.0/net8.0/cross/riscv64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64-musl/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64-sanitizer/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm-musl/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm64-musl/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/riscv64-musl/Dockerfile
  src/azurelinux/3.0/net9.0/cross/riscv64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml: any of: src
  eng/pipelines/dotnet-buildtools-prereqs-all.yml: any of: src
  eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml: any of: src/almalinux
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml: any of: src/alpine
  eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml: any of: src/centos
  eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml: any of: src/centos/stream9
  eng/pipelines/dotnet-buildtools-prereqs-centos.yml: any of: src/centos
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml: any of: src/centos/6
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml: any file but: src, *.md, .git*, CODEOWNERS, LICENSE
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml: any of: src/nanoserver
  eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-pr.yml: any file but: *.md
  eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml: any of: src/windowsservercore/20H2
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs.yml: any of: manifest.json, src
