Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml, eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml, eng/pipelines/dotnet-buildtools-prereqs-centos.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml: any of: src/almalinux
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml: any of: src/alpine
  eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml: any of: src/centos
  eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml: any of: src/centos/stream9
  eng/pipelines/dotnet-buildtools-prereqs-centos.yml: any of: src/centos
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml: any of: src/centos/6
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml: any file but: src, README.md
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml: any of: src/nanoserver
  eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-pr.yml: any file but: *.md
  eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml: any of: src/windowsservercore/20H2
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs.yml: any of: manifest.json, src

Add azurelinux 3.0 images with latest LLVM for .NET 9 (#1015)
  src/azurelinux/3.0/cross/amd64-alpine-net9.0/Dockerfile
  src/azurelinux/3.0/cross/amd64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm-alpine-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm64-alpine-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/x86-net9.0/Dockerfile
  src/azurelinux/3.0/crossdeps-builder-net9.0/Dockerfile
  src/azurelinux/3.0/crossdeps-builder-net9.0/dimitri_john_ledkov.asc
  src/azurelinux/3.0/crossdeps-llvm-net9.0/Dockerfile
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add a dockerfile to create an image that has a libc++ build with libc++abi configured such that it is available in our rootfs.
  src/azurelinux/3.0/cross/amd64-libc++/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Build libc++abi to get the abi header (used by createdump).
  src/azurelinux/3.0/cross/amd64-libc++/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update the dockerfile to build a libc++ that uses libstdc++ for the C++ ABI.
  src/azurelinux/3.0/cross/amd64-libc++/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Build compiler-rt as part of the same invocation where we build libcxx (and install with standard paths into the rootfs). Gets PgoInstrument=true working with this image.
  src/azurelinux/3.0/cross/amd64-libc++/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add CODEOWNERS
  CODEOWNERS
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Switch from dotnet/msquic to microsoft/msquic
  src/alpine/3.16/helix/amd64/Dockerfile
  src/alpine/3.16/helix/arm64v8/Dockerfile
  src/alpine/3.17/helix/amd64/Dockerfile
  src/alpine/3.17/helix/arm32v7/Dockerfile
  src/alpine/3.17/helix/arm64v8/Dockerfile
  src/alpine/3.18/helix/amd64/Dockerfile
  src/alpine/3.18/helix/arm32v7/Dockerfile
  src/alpine/3.18/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add CODEOWNERS (#1019)
  CODEOWNERS
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Duplicate images for now and install the compiler runtimes in our custom resources dir
  src/azurelinux/3.0/cross/amd64-libc++/Dockerfile
  src/azurelinux/3.0/crossdeps-builder-libc++/Dockerfile
  src/azurelinux/3.0/crossdeps-builder-libc++/dimitri_john_ledkov.asc
  src/azurelinux/3.0/crossdeps-llvm-libc++/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update pr triggers for eng validation pipeline
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Only specifically include paths
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Indent comment
  src/azurelinux/3.0/cross/amd64-libc++/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Use exclude only in order to prevent skipping PR validation for new root files
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update amd64-net9.0 image to build libc++ w/ libstdc++ abi
  src/azurelinux/3.0/cross/amd64-libc++/Dockerfile
  src/azurelinux/3.0/cross/amd64-net9.0/Dockerfile
  src/azurelinux/3.0/crossdeps-builder-libc++/Dockerfile
  src/azurelinux/3.0/crossdeps-builder-libc++/dimitri_john_ledkov.asc
  src/azurelinux/3.0/crossdeps-builder-net9.0/Dockerfile
  src/azurelinux/3.0/crossdeps-llvm-libc++/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update all glibc images to build static libc++ with dynamic libstdc++ ABI
  src/azurelinux/3.0/cross/amd64-libc++/Dockerfile
  src/azurelinux/3.0/cross/amd64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/x86-net9.0/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Increase timeout for Azure Linux builds
  eng/pipelines/dotnet-buildtools-prereqs-azurelinux-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-azurelinux.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Fixed output dir path of built msquic
  src/alpine/3.16/helix/amd64/Dockerfile
  src/alpine/3.16/helix/arm64v8/Dockerfile
  src/alpine/3.17/helix/amd64/Dockerfile
  src/alpine/3.17/helix/arm32v7/Dockerfile
  src/alpine/3.17/helix/arm64v8/Dockerfile
  src/alpine/3.18/helix/amd64/Dockerfile
  src/alpine/3.18/helix/arm32v7/Dockerfile
  src/alpine/3.18/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Increase timeout for Azure Linux builds (#1023)
  eng/pipelines/dotnet-buildtools-prereqs-azurelinux-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-azurelinux.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/1es-official.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update Alpine images as well
  src/azurelinux/3.0/cross/amd64-alpine-net9.0/Dockerfile
  src/azurelinux/3.0/cross/amd64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm64-alpine-net9.0/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add a docker image that builds with a sanitized libc++ w/ libc++abi for AddressSanitizer to get us a fully-instrumented toolchain.
  src/azurelinux/3.0/cross/amd64-net9.0-asan/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update manifest
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix LLVM_VERSION in a few places
  src/azurelinux/3.0/cross/amd64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/x86-net9.0/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix LLVM_VERSION in a few places (#1027)
  src/azurelinux/3.0/cross/amd64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/x86-net9.0/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Checkout msquic at a certain tag
  src/alpine/3.16/helix/amd64/Dockerfile
  src/alpine/3.16/helix/arm64v8/Dockerfile
  src/alpine/3.17/helix/amd64/Dockerfile
  src/alpine/3.17/helix/arm32v7/Dockerfile
  src/alpine/3.17/helix/arm64v8/Dockerfile
  src/alpine/3.18/helix/amd64/Dockerfile
  src/alpine/3.18/helix/arm32v7/Dockerfile
  src/alpine/3.18/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix copy path and make all of the builds cross-builds.
  src/azurelinux/3.0/cross/amd64-net9.0-asan/Dockerfile
  src/azurelinux/3.0/cross/arm-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/x86-net9.0/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

PR feedback
  src/azurelinux/3.0/cross/amd64-alpine-net9.0/Dockerfile
  src/azurelinux/3.0/cross/amd64-net9.0-asan/Dockerfile
  src/azurelinux/3.0/cross/amd64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm-alpine-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm64-alpine-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/x86-net9.0/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Copy cxxabi.h header from libstdc++ instead of building libc++abi
  src/azurelinux/3.0/cross/amd64-alpine-net9.0/Dockerfile
  src/azurelinux/3.0/cross/amd64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm-alpine-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm64-alpine-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/x86-net9.0/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

[main] Update common Docker engineering infrastructure with latest (#1021)
  eng/common/templates/1es-official.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Don't build libfuzzer
  src/azurelinux/3.0/cross/amd64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/x86-net9.0/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Use the default clang resources dir
  src/azurelinux/3.0/cross/amd64-net9.0-asan/Dockerfile
  src/azurelinux/3.0/cross/amd64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/x86-net9.0/Dockerfile
  src/azurelinux/3.0/crossdeps-builder-net9.0/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Use some bash scripting to extract the major version for the compat copy steps.
  src/azurelinux/3.0/cross/amd64-net9.0-asan/Dockerfile
  src/azurelinux/3.0/cross/amd64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/x86-net9.0/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Try splitting the crossdeps base images to make imagebuilder generate two separate jobs
  src/azurelinux/3.0/crossdeps-llvm-net8.0/Dockerfile
  src/azurelinux/3.0/crossdeps-llvm-net9.0/Dockerfile
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Split the crossdeps images so we actually get two fully separate dockerfile hierarchies.
  src/azurelinux/3.0/crossdeps-net8.0/Dockerfile
  src/azurelinux/3.0/crossdeps-net9.0/Dockerfile
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Split the crossdeps base image to allow CI to generate separate jobs for the net8.0 and net9.0 images (#1030)
  src/azurelinux/3.0/crossdeps-llvm-net8.0/Dockerfile
  src/azurelinux/3.0/crossdeps-llvm-net9.0/Dockerfile
  src/azurelinux/3.0/crossdeps-net8.0/Dockerfile
  src/azurelinux/3.0/crossdeps-net9.0/Dockerfile
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update our AZLinux 3.0 .NET 9 images to build a custom standard library toolchain (#1025)
  src/azurelinux/3.0/cross/amd64-alpine-net9.0/Dockerfile
  src/azurelinux/3.0/cross/amd64-net9.0-asan/Dockerfile
  src/azurelinux/3.0/cross/amd64-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm-alpine-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm-net9.0/Dockerfile
  src/azurelinux/3.0/cross/arm64-alpine-net9.0/Dockerfile
  src/azurelinux/3.0/cross/x86-net9.0/Dockerfile
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update arm rootfs to 22.04
  src/azurelinux/3.0/cross/arm-net9.0/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Adjust cxxabi header paths
  src/azurelinux/3.0/cross/arm-net9.0/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Move net8.0 and net9.0 Dockerfiles into separate directories
  src/azurelinux/3.0/net8.0/cross/amd64-alpine-net8.0/Dockerfile
  src/azurelinux/3.0/net8.0/cross/amd64-net8.0/Dockerfile
  src/azurelinux/3.0/net8.0/cross/arm-alpine-net8.0/Dockerfile
  src/azurelinux/3.0/net8.0/cross/arm-net8.0/Dockerfile
  src/azurelinux/3.0/net8.0/cross/arm64-alpine-net8.0/Dockerfile
  src/azurelinux/3.0/net8.0/cross/arm64-net8.0/Dockerfile
  src/azurelinux/3.0/net8.0/cross/x86-net8.0/Dockerfile
  src/azurelinux/3.0/net8.0/crossdeps-builder-net8.0/Dockerfile
  src/azurelinux/3.0/net8.0/crossdeps-builder-net8.0/dimitri_john_ledkov.asc
  src/azurelinux/3.0/net8.0/crossdeps-llvm-net8.0/Dockerfile
  src/azurelinux/3.0/net8.0/crossdeps-net8.0/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64-alpine-net9.0/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64-net9.0-asan/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64-net9.0/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm-alpine-net9.0/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm-net9.0/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm64-alpine-net9.0/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm64-net9.0/Dockerfile
  src/azurelinux/3.0/net9.0/cross/x86-net9.0/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps-builder-net9.0/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps-builder-net9.0/dimitri_john_ledkov.asc
  src/azurelinux/3.0/net9.0/crossdeps-llvm-net9.0/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps-net9.0/Dockerfile
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix directory names
  src/azurelinux/3.0/net8.0/cross/amd64-alpine/Dockerfile
  src/azurelinux/3.0/net8.0/cross/amd64/Dockerfile
  src/azurelinux/3.0/net8.0/cross/arm-alpine/Dockerfile
  src/azurelinux/3.0/net8.0/cross/arm/Dockerfile
  src/azurelinux/3.0/net8.0/cross/arm64-alpine/Dockerfile
  src/azurelinux/3.0/net8.0/cross/arm64/Dockerfile
  src/azurelinux/3.0/net8.0/cross/x86/Dockerfile
  src/azurelinux/3.0/net8.0/crossdeps-builder/Dockerfile
  src/azurelinux/3.0/net8.0/crossdeps-builder/dimitri_john_ledkov.asc
  src/azurelinux/3.0/net8.0/crossdeps-llvm/Dockerfile
  src/azurelinux/3.0/net8.0/crossdeps/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64-alpine/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64-asan/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm-alpine/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm64-alpine/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/x86/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps-builder/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps-builder/dimitri_john_ledkov.asc
  src/azurelinux/3.0/net9.0/crossdeps-llvm/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml
