Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

eng/pipelines/dotnet-buildtools-prereqs-alpine.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-centos6.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-centos7.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 120

eng/pipelines/dotnet-buildtools-prereqs-centos8.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-debian.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-eng.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        linuxAmdBuildPool: NetCorePublic-Pool
        linuxAmdBuildQueue: BuildPool.Ubuntu.1604.Amd64.Open
  ...

eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 120

eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 150
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        linuxAmdBuildPool: NetCorePublic-Pool
        linuxAmdBuildQueue: BuildPool.Ubuntu.1604.Amd64.Open
  ...

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add the Android SDK to the Android image
  src/ubuntu/18.04/android/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Removed unneeded change
  src/ubuntu/18.04/android/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Removed more stuff
  src/ubuntu/18.04/android/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Nit tweak
  src/ubuntu/18.04/android/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Bump Android NDK to r21b and install it into /usr/local/android-ndk
  src/ubuntu/18.04/android/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Add the Android SDK to the Android image and update NDK (#297)
  src/ubuntu/18.04/android/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Update common Docker engineering infrastructure with latest (#296)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Remove Ubuntu 19.04 Dockerfile due to EOL
  manifest.json
  src/ubuntu/19.04/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#298)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Remove Ubuntu 19.04 Dockerfile due to EOL (#299)
  manifest.json
  src/ubuntu/19.04/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Refactor build-rootfs apt cleanup logic to work correctly
  src/ubuntu/build-scripts/build-rootfs.sh
Due: none

Refactor build-rootfs apt cleanup logic to work correctly (#301)
  src/ubuntu/build-scripts/build-rootfs.sh
Due: none

Revert use of custom build pool with larger storage space
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#303)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#304)
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#305)
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Export EMSDK_PATH env variable in webassembly image
  src/ubuntu/18.04/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Export EMSDK_PATH env variable in webassembly image (#306)
  src/ubuntu/18.04/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Update scripts to use sh instead of bash
  src/ubuntu/16.04/cross/arm64-alpine/hooks/pre-build
  src/ubuntu/16.04/cross/arm64/hooks/pre-build
  src/ubuntu/16.04/cross/hooks/pre-build
  src/ubuntu/18.04/cross/arm/16.04/hooks/pre-build
  src/ubuntu/18.04/cross/arm64-alpine/hooks/pre-build
  src/ubuntu/18.04/cross/arm64/16.04/hooks/pre-build
  src/ubuntu/18.04/cross/arm64/hooks/pre-build
  src/ubuntu/18.04/cross/freebsd/11/hooks/post-build
  src/ubuntu/18.04/cross/freebsd/11/hooks/pre-build
  src/ubuntu/18.04/cross/freebsd/12/hooks/post-build
  src/ubuntu/18.04/cross/freebsd/12/hooks/pre-build
  src/ubuntu/18.04/cross/hooks/pre-build
  src/ubuntu/build-scripts/build-rootfs-cleanup.sh
  src/ubuntu/build-scripts/build-rootfs.sh
  src/ubuntu/build-scripts/install-cross-build-prereqs.sh
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

[master] Update common Docker engineering infrastructure with latest (#307)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  src/ubuntu/16.04/cross/arm64-alpine/hooks/pre-build
  src/ubuntu/16.04/cross/arm64/hooks/pre-build
  src/ubuntu/16.04/cross/hooks/pre-build
  src/ubuntu/18.04/cross/arm/16.04/hooks/pre-build
  src/ubuntu/18.04/cross/arm64-alpine/hooks/pre-build
  src/ubuntu/18.04/cross/arm64/16.04/hooks/pre-build
  src/ubuntu/18.04/cross/arm64/hooks/pre-build
  src/ubuntu/18.04/cross/freebsd/11/hooks/post-build
  src/ubuntu/18.04/cross/freebsd/11/hooks/pre-build
  src/ubuntu/18.04/cross/freebsd/12/hooks/post-build
  src/ubuntu/18.04/cross/freebsd/12/hooks/pre-build
  src/ubuntu/18.04/cross/hooks/pre-build
  src/ubuntu/build-scripts/build-rootfs-cleanup.sh
  src/ubuntu/build-scripts/build-rootfs.sh
  src/ubuntu/build-scripts/install-cross-build-prereqs.sh
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Add Helix and non-helix Fedora 32 images
  manifest.json
  src/fedora/32/amd64/Dockerfile
  src/fedora/32/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Install pip ; seems to be missing with this version of Fedora
  src/fedora/32/helix/amd64/Dockerfile
Due: none

add libffi (needed by pip dependencies) and remove --no-site-packages from venv creation (default now)
  src/fedora/32/helix/amd64/Dockerfile
Due: none

Update common Docker engineering infrastructure with latest (#308)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update Ubuntu Dockerfile to configure system-wide locale
  src/ubuntu/16.04/mlnet/Dockerfile
Due: none

Update Ubuntu Dockerfile to configure system-wide locale (#310)
  src/ubuntu/16.04/mlnet/Dockerfile
Due: none

Use libomp-dev instead of libomp-9-dev
  src/ubuntu/16.04/mlnet/Dockerfile
Due: none

downgrade virtualenv to 16.6.0 so that when arcade scripts call it they don't fail for --no-site-packages
  src/fedora/32/helix/amd64/Dockerfile
Due: none

downgrade virtualenv to 16.6.0 so that when arcade scripts call it they don't fail for --no-site-packages (#313)
  src/fedora/32/helix/amd64/Dockerfile
Due: none

Update common Docker engineering infrastructure with latest (#312)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml: any of: src/alpine
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml: any of: src/centos/6
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml: any file but: src, README.md
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml: any of: src/ubuntu/18.04
