Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml, eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml, eng/pipelines/dotnet-buildtools-prereqs-centos.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      linuxAmdBuildJobTimeout: 480
      linuxArmBuildJobTimeout: 300
      linuxAmd64Pool:
  ...

eng/pipelines/dotnet-buildtools-prereqs-all.yml:
  schedules:
  - cron: 0 5 1,15 * *
    displayName: Monthly rebuild of all images
    branches:
      include:
      - main
    always: true
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      stages:
      - template: /eng/pipelines/stages/build-test-publish-repo.yml@self
  ...

eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-alpine.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210
      linuxArmBuildJobTimeout: 300
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      linuxAmdBuildJobTimeout: 210
      linuxArmBuildJobTimeout: 300

eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-centos.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      stages:
      - template: /eng/pipelines/stages/build-test-publish-repo.yml@self
        parameters:
          internalProjectName: ${{ variables.internalProjectName }}
  ...

eng/pipelines/dotnet-buildtools-prereqs-centos6.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

Reduce crossdeps-builder image size (#1446)
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net8.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps-builder/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix typos
  eng/pipelines/dotnet-buildtools-prereqs-all.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1438)
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images-staging.yml
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/jobs/test-images-windows-client.yml
  eng/common/templates/stages/build-and-test.yml
  eng/common/templates/stages/dotnet/build-and-test.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/publish.yml
  eng/common/templates/stages/publish.yml
  eng/common/templates/stages/setup-service-connections.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/steps/clean-acr-images.yml
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/download-build-artifact.yml
  eng/common/templates/steps/init-common.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/run-imagebuilder.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
  eng/common/templates/variables/dotnet/common.yml
  eng/pipelines/dotnet-buildtools-prereqs-all.yml
  eng/pipelines/stages/build-test-publish-repo.yml
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add AlmaLinux 10 images
  src/almalinux/10/helix/amd64/Dockerfile
  src/almalinux/10/source-build/amd64/Dockerfile
  src/almalinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add AlmaLinux 10 images (#1448)
  src/almalinux/10/helix/amd64/Dockerfile
  src/almalinux/10/source-build/amd64/Dockerfile
  src/almalinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Delete Ubuntu 20.04 Dockerfiles
  src/ubuntu/20.04/amd64/Dockerfile
  src/ubuntu/20.04/helix/Dockerfile
  src/ubuntu/20.04/helix/sqlserver/amd64/Dockerfile
  src/ubuntu/20.04/helix/wasm/amd64/Dockerfile
  src/ubuntu/20.04/helix/wasm/amd64/setup-node-23.x.sh
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix codeowners
  CODEOWNERS
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Move coredeps to 22.04 since it's no longer shared with other versions
  CODEOWNERS
  src/ubuntu/22.04/coredeps/Dockerfile
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix directory name to use arch
  src/ubuntu/22.04/coredeps/amd64/Dockerfile
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Delete Ubuntu 20.04 Dockerfiles (#1449)
  CODEOWNERS
  src/ubuntu/20.04/amd64/Dockerfile
  src/ubuntu/20.04/helix/Dockerfile
  src/ubuntu/20.04/helix/sqlserver/amd64/Dockerfile
  src/ubuntu/20.04/helix/wasm/amd64/Dockerfile
  src/ubuntu/20.04/helix/wasm/amd64/setup-node-23.x.sh
  src/ubuntu/22.04/coredeps/amd64/Dockerfile
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Revert "[main] Update common Docker engineering infrastructure with latest (#1438)"
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images-staging.yml
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/jobs/test-images-windows-client.yml
  eng/common/templates/stages/build-and-test.yml
  eng/common/templates/stages/dotnet/build-and-test.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/publish.yml
  eng/common/templates/stages/publish.yml
  eng/common/templates/stages/setup-service-connections.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/steps/clean-acr-images.yml
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/download-build-artifact.yml
  eng/common/templates/steps/init-common.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/run-imagebuilder.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
  eng/common/templates/variables/dotnet/common.yml
  eng/pipelines/dotnet-buildtools-prereqs-all.yml
  eng/pipelines/stages/build-test-publish-repo.yml
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Revert infra changes (#1451)
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images-staging.yml
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/jobs/test-images-windows-client.yml
  eng/common/templates/stages/build-and-test.yml
  eng/common/templates/stages/dotnet/build-and-test.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/publish.yml
  eng/common/templates/stages/publish.yml
  eng/common/templates/stages/setup-service-connections.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/steps/clean-acr-images.yml
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/download-build-artifact.yml
  eng/common/templates/steps/init-common.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/run-imagebuilder.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
  eng/common/templates/variables/dotnet/common.yml
  eng/pipelines/dotnet-buildtools-prereqs-all.yml
  eng/pipelines/stages/build-test-publish-repo.yml
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Alpine 3.22 image: krb5-libs package is missing
  src/alpine/3.22/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Remove redundant SourceBuildTrimNetFrameworkTargets property
  src/almalinux/8/helix/amd64/Dockerfile
  src/almalinux/9/helix/amd64/Dockerfile
  src/cbl-mariner/2.0/helix/amd64/Dockerfile
  src/centos-stream/9/helix/amd64/Dockerfile
  src/centos-stream/9/mlnet/helix/amd64/Dockerfile
  src/debian/11/helix/amd64/Dockerfile
  src/debian/11/helix/arm64v8/Dockerfile
  src/debian/12/helix/amd64/Dockerfile
  src/debian/12/helix/arm32v7/Dockerfile
  src/debian/12/helix/arm64v8/Dockerfile
  src/ubuntu/22.04/helix/Dockerfile
  src/ubuntu/22.04/mlnet/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Remove redundant SourceBuildTrimNetFrameworkTargets property
  src/almalinux/9/helix/amd64/Dockerfile
  src/debian/12/helix/amd64/Dockerfile
  src/debian/12/helix/arm32v7/Dockerfile
  src/debian/12/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix vulnerability Python (Pip) Security Update for setuptools (#1453)
  src/almalinux/8/helix/amd64/Dockerfile
  src/almalinux/9/helix/amd64/Dockerfile
  src/cbl-mariner/2.0/helix/amd64/Dockerfile
  src/centos-stream/9/helix/amd64/Dockerfile
  src/centos-stream/9/mlnet/helix/amd64/Dockerfile
  src/debian/11/helix/amd64/Dockerfile
  src/debian/11/helix/arm64v8/Dockerfile
  src/debian/12/helix/amd64/Dockerfile
  src/debian/12/helix/arm32v7/Dockerfile
  src/debian/12/helix/arm64v8/Dockerfile
  src/ubuntu/22.04/helix/Dockerfile
  src/ubuntu/22.04/mlnet/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add Dockerfile for 24.04 sqlserver container.
  src/ubuntu/24.04/helix/sqlserver/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add 24.04 sqlserver definition.
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update Helix Ubuntu prereqs for EF Core (#1455)
  src/ubuntu/24.04/helix/sqlserver/amd64/Dockerfile
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Preserve llvm-project.src directory in crossdeps-builder
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net8.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps-builder/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Preserve llvm-project.src directory in crossdeps-builder (#1456)
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net8.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps-builder/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images-staging.yml
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/jobs/test-images-windows-client.yml
  eng/common/templates/stages/build-and-test.yml
  eng/common/templates/stages/dotnet/build-and-test.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/publish.yml
  eng/common/templates/stages/publish.yml
  eng/common/templates/stages/setup-service-connections.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/steps/clean-acr-images.yml
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/download-build-artifact.yml
  eng/common/templates/steps/init-common.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/run-imagebuilder.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
  eng/common/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Use Ubuntu 22.04 for SQL Server. 24.04 is not fully supported yet.
  src/ubuntu/22.04/helix/sqlserver/amd64/Dockerfile
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Use Ubuntu 22.04 for SQL Server. 24.04 is not fully supported yet. (#1457)
  src/ubuntu/22.04/helix/sqlserver/amd64/Dockerfile
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Remove redundant SourceBuildTrimNetFrameworkTargets property
  src/cbl-mariner/2.0/crossdeps/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix vulnerability NodeJs (Npm) Security Update for cross-spawn (GHSA-3xgq-45jj-v275) · Issue #240 (#1464)
  src/cbl-mariner/2.0/crossdeps/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Upgrade scancode to 32.4.0 and revert pinning of click
  src/azurelinux/3.0/net10.0/source-build-test/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

remove unnecessary checksum validation
  src/opensuse/15.6/helix/amd64/Dockerfile
  src/ubuntu/22.04/helix/Dockerfile
  src/ubuntu/24.04/helix/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

[main] Update common Docker engineering infrastructure with latest (#1454)
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images-staging.yml
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/jobs/test-images-windows-client.yml
  eng/common/templates/stages/build-and-test.yml
  eng/common/templates/stages/dotnet/build-and-test.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/publish.yml
  eng/common/templates/stages/publish.yml
  eng/common/templates/stages/setup-service-connections.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/steps/clean-acr-images.yml
  eng/common/templates/steps/copy-base-images.yml
  eng/common/templates/steps/download-build-artifact.yml
  eng/common/templates/steps/init-common.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/run-imagebuilder.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
  eng/common/templates/variables/dotnet/common.yml
  src/opensuse/15.6/helix/amd64/Dockerfile
  src/ubuntu/22.04/helix/Dockerfile
  src/ubuntu/24.04/helix/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update pipeline to handle new infra
  eng/pipelines/dotnet-buildtools-prereqs-all.yml
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

use mariner 2.0
  src/cbl-mariner/2.0/android/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Remove Kusto service connection
  eng/pipelines/dotnet-buildtools-prereqs-all.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update pipeline to handle new infra (#1467)
  eng/pipelines/dotnet-buildtools-prereqs-all.yml
  eng/pipelines/variables/common.yml
  src/cbl-mariner/2.0/android/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Upgrade scancode to 32.4.0 and revert pinning of click (#1465)
  src/azurelinux/3.0/net10.0/source-build-test/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1470)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/annotate-eol-digests.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml: any of: src
  eng/pipelines/dotnet-buildtools-prereqs-all.yml: any of: src
  eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml: any of: src/almalinux
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml: any of: src/alpine
  eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml: any of: src/centos
  eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml: any of: src/centos/stream9
  eng/pipelines/dotnet-buildtools-prereqs-centos.yml: any of: src/centos
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml: any of: src/centos/6
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml: any file but: src, *.md, .git*, CODEOWNERS, LICENSE
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml: any of: src/nanoserver
  eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-pr.yml: any file but: *.md
  eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml: any of: src/windowsservercore/20H2
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs.yml: any of: manifest.json, src
