Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml

eng/pipelines/dotnet-buildtools-prereqs-alpine.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-centos6.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-centos7.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      linuxAmdBuildJobTimeout: 300

eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-centos8.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-debian.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-eng.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210
      linuxAmdBuildPool: NetCorePublic-Pool
      linuxAmdBuildQueue: BuildPool.Ubuntu.1604.Amd64.Open
      customBuildInitSteps:
  ...

eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-fedora.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

Set pre-build hook script to be executable
  src/ubuntu/18.04/cross/x86-linux/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
  eng/common/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#529)
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
  eng/common/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#531)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add Helix Dockerfile for Ubuntu 21.10
  src/ubuntu/21.10/helix/amd64/Dockerfile
  src/ubuntu/21.10/helix/arm64v8/Dockerfile
Due: none

Add CentOS Stream 9
  manifest.json
  src/centos/stream9/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/Install-DotNetSdk.ps1
  eng/common/package-scripts/get-installed-packages.container.sh
  eng/common/package-scripts/get-installed-packages.sh
  eng/common/package-scripts/get-upgradable-packages.container.bash.sh
  eng/common/package-scripts/get-upgradable-packages.container.sh
  eng/common/package-scripts/get-upgradable-packages.sh
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add CentOS Stream 9 (#520)
  manifest.json
  src/centos/stream9/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Pipelines to handle the centos/stream9 Dockerfile path
  eng/pipelines/dotnet-buildtools-prereqs-centos-stream9-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Register the image in YAMLs and the manifest
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#532)
  eng/common/Install-DotNetSdk.ps1
  eng/common/package-scripts/get-installed-packages.container.sh
  eng/common/package-scripts/get-installed-packages.sh
  eng/common/package-scripts/get-upgradable-packages.container.bash.sh
  eng/common/package-scripts/get-upgradable-packages.container.sh
  eng/common/package-scripts/get-upgradable-packages.sh
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Address PR feedback
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Pipelines to handle the centos/stream9 Dockerfile path (#534)
  eng/pipelines/dotnet-buildtools-prereqs-centos-stream9-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#536)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#537)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add Helix Dockerfile for Ubuntu 21.10 (#533)
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml
  manifest.json
  src/ubuntu/21.10/helix/amd64/Dockerfile
  src/ubuntu/21.10/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/package-scripts/get-installed-packages.sh
  eng/common/package-scripts/get-upgradable-packages.sh
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#538)
  eng/common/package-scripts/get-installed-packages.sh
  eng/common/package-scripts/get-upgradable-packages.sh
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add centos8-source-build image; edit fedora34 for source-build
  manifest.json
  src/centos/8/source-build/Dockerfile
  src/fedora/34/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml

Add centos8-source-build image; edit fedora34 for source-build (#539)
  manifest.json
  src/centos/8/source-build/Dockerfile
  src/fedora/34/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml

Update common Docker engineering infrastructure with latest
  eng/common/build.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#540)
  eng/common/build.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#541)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Extend all existing-for-3.14 Alpine images to 3.15. Remove Alpine <= 3.11, since 3.11 EOL'ed last month.
  manifest.json
  src/alpine/3.15/WithNode/amd64/Dockerfile
  src/alpine/3.15/amd64/Dockerfile
  src/alpine/3.15/helix/amd64/Dockerfile
  src/alpine/3.15/helix/arm32v7/Dockerfile
  src/alpine/3.15/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml

PR feedback: Forgot to delete old dockerfiles
  src/alpine/3.10/helix/amd64/Dockerfile
  src/alpine/3.10/helix/arm64v8/Dockerfile
  src/alpine/3.11/helix/amd64/Dockerfile
  src/alpine/3.11/helix/arm64v8/Dockerfile
  src/alpine/3.9/WithNode/amd64/Dockerfile
  src/alpine/3.9/amd64/Dockerfile
  src/alpine/3.9/arm32v7/Dockerfile
  src/alpine/3.9/arm64v8/Dockerfile
  src/alpine/3.9/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml

Update common Docker engineering infrastructure with latest
  eng/common/package-scripts/Dockerfile.scripts
  eng/common/package-scripts/get-installed-packages.container.sh
  eng/common/package-scripts/get-installed-packages.sh
  eng/common/package-scripts/get-upgradable-packages.container.bash.sh
  eng/common/package-scripts/get-upgradable-packages.container.sh
  eng/common/package-scripts/get-upgradable-packages.sh
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#542)
  eng/common/package-scripts/Dockerfile.scripts
  eng/common/package-scripts/get-installed-packages.container.sh
  eng/common/package-scripts/get-installed-packages.sh
  eng/common/package-scripts/get-upgradable-packages.container.bash.sh
  eng/common/package-scripts/get-upgradable-packages.container.sh
  eng/common/package-scripts/get-upgradable-packages.sh
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

ARMv6 for Raspberry Pi
  src/ubuntu/18.04/cross/armv6/16.04/Dockerfile
  src/ubuntu/18.04/cross/armv6/16.04/hooks/post-build
  src/ubuntu/18.04/cross/armv6/16.04/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Build Raspbian 10 cross environment
  manifest.json
  src/ubuntu/18.04/cross/armv6/10/Dockerfile
  src/ubuntu/18.04/cross/armv6/10/hooks/post-build
  src/ubuntu/18.04/cross/armv6/10/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Update common Docker engineering infrastructure with latest (#544)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Disable Kusto ingestion during publish
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Consolidate pipelines
  eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml
  eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml
  eng/pipelines/dotnet-buildtools-prereqs-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml
  eng/pipelines/dotnet-buildtools-prereqs.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Remove test placeholder
  eng/pipelines/variables/common.yml
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Initial Focal cross
  manifest.json
  src/ubuntu/18.04/cross/armv6/10/Dockerfile
  src/ubuntu/20.04/coredeps/Dockerfile
  src/ubuntu/20.04/cross/armv6/10/Dockerfile
  src/ubuntu/20.04/cross/armv6/10/hooks/post-build
  src/ubuntu/20.04/cross/armv6/10/hooks/pre-build
  src/ubuntu/20.04/crossdeps/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml

Fix build failure
  src/ubuntu/20.04/coredeps/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml: any of: src/alpine
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml: any of: src/centos/6
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml: any file but: src, README.md
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml: any of: src/ubuntu/21.04
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml: any of: src/windowsservercore/20H2
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml: any of: src/windowsservercore/ltsc2019
