Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml, eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml, eng/pipelines/dotnet-buildtools-prereqs-centos.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml:
  stages:
  - template: /eng/common/templates/stages/dotnet/publish-config-nonprod.yml@self
    parameters:
      stagesTemplate: /eng/pipelines/stages/build-test-publish-repo.yml@self
      stagesTemplateParameters:
        versionsRepoRef: VersionsRepo
        linuxAmdBuildJobTimeout: 480
  ...

eng/pipelines/dotnet-buildtools-prereqs-all.yml:
  schedules:
  - cron: 0 5 1,15 * *
    displayName: Monthly rebuild of all images
    branches:
      include:
      - main
    always: true
  extends:
    template: /eng/common/templates/1es.yml@self
    parameters:
      reposToExcludeFromScanning:
      - VersionsRepo
      stages:
  ...

eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-alpine.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210
      linuxArmBuildJobTimeout: 300
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      linuxAmdBuildJobTimeout: 210
      linuxArmBuildJobTimeout: 300

eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-centos.yml:
  extends:
    template: /eng/common/templates/1es-official.yml@self
    parameters:
      stages:
      - template: /eng/pipelines/stages/build-test-publish-repo.yml@self
        parameters:
          internalProjectName: ${{ variables.internalProjectName }}
  ...

eng/pipelines/dotnet-buildtools-prereqs-centos6.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

Rename registries
  eng/pipelines/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add -y flag to SymCrypt-OpenSSL downgrade command
  src/azurelinux/3.0/helix/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

[main] Update common Docker engineering infrastructure with latest (#1572)
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/cg-build-projects.yml
  eng/docker-tools/templates/jobs/copy-base-images-staging.yml
  eng/docker-tools/templates/jobs/copy-base-images.yml
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml
  eng/docker-tools/templates/steps/annotate-eol-digests.yml
  eng/docker-tools/templates/steps/clean-acr-images.yml
  eng/docker-tools/templates/steps/copy-base-images.yml
  eng/docker-tools/templates/steps/generate-appsettings.yml
  eng/docker-tools/templates/steps/init-docker-linux.yml
  eng/docker-tools/templates/steps/init-docker-windows.yml
  eng/docker-tools/templates/steps/init-matrix-build-publish.yml
  eng/docker-tools/templates/steps/publish-readmes.yml
  eng/docker-tools/templates/steps/run-imagebuilder.yml
  eng/docker-tools/templates/steps/set-dry-run.yml
  eng/docker-tools/templates/steps/test-images-linux-client.yml
  eng/docker-tools/templates/steps/test-images-windows-client.yml
  eng/docker-tools/templates/steps/validate-branch.yml
  eng/docker-tools/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/docker-tools/templates/variables/common.yml
  eng/docker-tools/templates/variables/docker-images.yml
  eng/docker-tools/templates/variables/dotnet/common.yml
  eng/pipelines/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update scancode to 32.5.0
  src/azurelinux/3.0/net8.0/source-build-test/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update scancode to 32.5.0 (#1578)
  src/azurelinux/3.0/net8.0/source-build-test/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add a Windows image for building the VMR
  CODEOWNERS
  src/windowsservercore/ltsc2022/net11.0/build/amd64/Dockerfile
  src/windowsservercore/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Updates discovered while attempting VMR build
  src/windowsservercore/ltsc2022/net11.0/build/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update scancode to 32.5.0 for net11 Dockerfile
  src/azurelinux/3.0/net11.0/source-build-test/amd64/Dockerfile
  src/azurelinux/3.0/net8.0/source-build-test/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update scancode to 32.5.0 for net11 Dockerfile (#1580)
  src/azurelinux/3.0/net11.0/source-build-test/amd64/Dockerfile
  src/azurelinux/3.0/net8.0/source-build-test/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/copy-base-images-staging.yml
  eng/docker-tools/templates/jobs/copy-base-images.yml
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/post-build.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/stages/dotnet/publish.yml
  eng/docker-tools/templates/stages/publish.yml
  eng/docker-tools/templates/steps/init-common.yml
  eng/docker-tools/templates/steps/init-imagebuilder.yml
  eng/docker-tools/templates/steps/init-testrunner.yml
  eng/docker-tools/templates/steps/test-images-linux-client.yml
  eng/docker-tools/templates/steps/test-images-windows-client.yml
  eng/docker-tools/templates/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Delete .github/workflows/check-llvm-version.yml
  .github/workflows/check-llvm-version.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/copy-base-images-staging.yml
  eng/docker-tools/templates/jobs/copy-base-images.yml
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/post-build.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/stages/dotnet/publish.yml
  eng/docker-tools/templates/stages/publish.yml
  eng/docker-tools/templates/steps/init-common.yml
  eng/docker-tools/templates/steps/init-imagebuilder.yml
  eng/docker-tools/templates/steps/init-testrunner.yml
  eng/docker-tools/templates/steps/test-images-linux-client.yml
  eng/docker-tools/templates/steps/test-images-windows-client.yml
  eng/docker-tools/templates/variables/common.yml
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add ninja-build to net11.0 Dockerfile
  src/azurelinux/3.0/net11.0/crossdeps/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update llvm from version 21.1.7 to version 21.1.8 (#1581)
  src/azurelinux/3.0/net11.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/opt/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add ninja-build to net11.0 Dockerfile (#1583)
  src/azurelinux/3.0/net11.0/crossdeps/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add ninja-build to more images
  src/almalinux/10/source-build/amd64/Dockerfile
  src/almalinux/9/source-build/amd64/Dockerfile
  src/alpine/3.23/amd64/Dockerfile
  src/centos-stream/9/amd64/Dockerfile
  src/debian/11/amd64/Dockerfile
  src/debian/13/gcc15/amd64/Dockerfile
  src/fedora/43/amd64/Dockerfile
  src/opensuse/15.6/helix/amd64/Dockerfile
  src/opensuse/16.0/helix/amd64/Dockerfile
  src/ubuntu/24.04/Dockerfile
  src/ubuntu/26.04/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml, eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add ninja-build to ubuntu-22.04-crossdeps
  src/ubuntu/22.04/crossdeps/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Adding packages to build grpc using vcpkg
  src/azurelinux/3.0/net8.0/crossdeps/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add ninja-build to crossdeps, centos-stream-10, and almalinux-8 images
  src/almalinux/8/source-build/amd64/Dockerfile
  src/azurelinux/3.0/net10.0/crossdeps/amd64/Dockerfile
  src/centos-stream/10/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/copy-base-images-staging.yml
  eng/docker-tools/templates/jobs/copy-base-images.yml
  eng/docker-tools/templates/jobs/generate-matrix.yml
  eng/docker-tools/templates/jobs/post-build.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/build-test-publish-repo.yml
  eng/docker-tools/templates/stages/dotnet/publish.yml
  eng/docker-tools/templates/stages/publish.yml
  eng/docker-tools/templates/steps/init-common.yml
  eng/docker-tools/templates/steps/init-imagebuilder.yml
  eng/docker-tools/templates/steps/init-testrunner.yml
  eng/docker-tools/templates/steps/test-images-linux-client.yml
  eng/docker-tools/templates/steps/test-images-windows-client.yml
  eng/docker-tools/templates/variables/common.yml
  eng/docker-tools/templates/variables/docker-images.yml
  eng/docker-tools/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Adding packages to cross build grpc with vcpkg.
  src/azurelinux/3.0/net10.0/crossdeps/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add tdnf makecache to fix stale package metadata 404
  src/azurelinux/3.0/net10.0/cross/freebsd/14/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add tdnf makecache to freebsd arm64 Dockerfile
  src/azurelinux/3.0/net10.0/cross/freebsd/14/arm64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/templates/jobs/build-images.yml
  eng/docker-tools/templates/jobs/publish.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml
  eng/docker-tools/templates/stages/setup-service-connections.yml
  eng/docker-tools/templates/steps/copy-base-images.yml
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Fix service connection configuration Based on https://github.com/dotnet/dotnet-buildtools-prereqs-docker/blob/080691abbc934433127ac5ded9806ba52ece599e/eng/docker-tools/CHANGELOG.md?plain=1#L7C1-L7C63
  eng/docker-tools/templates/1es-official.yml
  eng/docker-tools/templates/1es-unofficial.yml
  eng/pipelines/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add Renovate Dockerfile
  src/azurelinux/3.0/renovate/amd64/Dockerfile
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update codeowners
  CODEOWNERS
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Include version-less tag
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Apply suggestion from @premun
  src/ubuntu/22.04/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/templates/1es-official.yml
  eng/docker-tools/templates/1es-unofficial.yml
  eng/docker-tools/templates/steps/clean-acr-images.yml
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update llvm from version 21.1.8 to version 22.1.0 (#1597)
  src/azurelinux/3.0/net11.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/opt/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add Renovate support
  eng/pipelines/renovate.yml
  eng/renovate.json
  eng/update-llvm-checksums.sh
  src/alpine/3.21/amd64/Dockerfile
  src/alpine/3.22/amd64/Dockerfile
  src/alpine/3.23/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/source-build-test/amd64/Dockerfile
  src/azurelinux/3.0/net11.0/source-build-test/amd64/run-scancode.sh
  src/azurelinux/3.0/net8.0/source-build-test/amd64/Dockerfile
  src/azurelinux/manifest.json
  src/fedora/43/amd64/Dockerfile
  src/nanoserver/1809/helix/amd64/Dockerfile
  src/ubuntu/24.04/Dockerfile
  src/ubuntu/26.04/Dockerfile
  src/windowsservercore/ltsc2019/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2022/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2025/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update eng/docker-tools
  eng/docker-tools/templates/steps/init-docker-linux.yml
  eng/docker-tools/templates/steps/init-docker-windows.yml
  eng/docker-tools/templates/steps/init-matrix-build-publish.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1596)
  eng/docker-tools/templates/1es-official.yml
  eng/docker-tools/templates/1es-unofficial.yml
  eng/docker-tools/templates/steps/clean-acr-images.yml
  eng/docker-tools/templates/steps/init-docker-linux.yml
  eng/docker-tools/templates/steps/init-docker-windows.yml
  eng/docker-tools/templates/steps/init-matrix-build-publish.yml
  eng/docker-tools/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Install node-ip on top of re-installed nodejs (#1594)
  src/ubuntu/22.04/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/templates/jobs/post-build.yml
  eng/docker-tools/templates/jobs/sign-images.yml
  eng/docker-tools/templates/jobs/test-images-linux-client.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml
  eng/docker-tools/templates/stages/publish.yml
  eng/docker-tools/templates/steps/generate-appsettings.yml
  eng/docker-tools/templates/steps/init-common.yml
  eng/docker-tools/templates/steps/init-imagebuilder.yml
  eng/docker-tools/templates/steps/init-signing-linux.yml
  eng/docker-tools/templates/variables/common-paths.yml
  eng/docker-tools/templates/variables/common.yml
  eng/docker-tools/templates/variables/docker-images.yml
  eng/docker-tools/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Set preBuildTestScriptPath
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

[main] Update common Docker engineering infrastructure with latest (#1598)
  eng/docker-tools/CHANGELOG.md
  eng/docker-tools/DEV-GUIDE.md
  eng/docker-tools/templates/jobs/post-build.yml
  eng/docker-tools/templates/jobs/sign-images.yml
  eng/docker-tools/templates/jobs/test-images-linux-client.yml
  eng/docker-tools/templates/stages/build-and-test.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-nonprod.yml
  eng/docker-tools/templates/stages/dotnet/publish-config-prod.yml
  eng/docker-tools/templates/stages/publish.yml
  eng/docker-tools/templates/steps/generate-appsettings.yml
  eng/docker-tools/templates/steps/init-common.yml
  eng/docker-tools/templates/steps/init-imagebuilder.yml
  eng/docker-tools/templates/steps/init-signing-linux.yml
  eng/docker-tools/templates/variables/common-paths.yml
  eng/docker-tools/templates/variables/common.yml
  eng/docker-tools/templates/variables/docker-images.yml
  eng/docker-tools/templates/variables/dotnet/common.yml
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

specify env path
  eng/pipelines/renovate.yml
  eng/renovate.json
  eng/update-llvm-checksums.sh
  src/windowsservercore/ltsc2022/helix/webassembly-net8/amd64/Dockerfile
  src/windowsservercore/ltsc2025/helix/webassembly-net8/amd64/Dockerfile
  src/windowsservercore/ltsc2025/helix/webassembly/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-all.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-official.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml: any of: src
  eng/pipelines/dotnet-buildtools-prereqs-all.yml: any of: src
  eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml: any of: src/almalinux
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml: any of: src/alpine
  eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml: any of: src/centos
  eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml: any of: src/centos/stream9
  eng/pipelines/dotnet-buildtools-prereqs-centos.yml: any of: src/centos
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml: any of: src/centos/6
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml: any file but: src, *.md, .git*, CODEOWNERS, LICENSE
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml: any of: src/nanoserver
  eng/pipelines/dotnet-buildtools-prereqs-official.yml: any of: src
  eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-pr.yml: any file but: *.md
  eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml: any of: src/windowsservercore/20H2
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs.yml: any of: manifest.json, src
