Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml: any of: src/alpine
  eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml: any of: src/centos/stream9
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml: any of: src/centos/6
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml: any file but: src, README.md
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-pr.yml: any file but: *.md
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml: any of: src/windowsservercore/20H2
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs.yml: any of: manifest.json, src

Fix copy-paste error
  src/ubuntu/20.04/crossdeps/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix invocation of rootfs build using `arm` instead of `armv6`
  src/ubuntu/20.04/cross/armv6/10/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Bump emscripten version to 2.0.34
  src/ubuntu/18.04/webassembly/Dockerfile
  src/windowsservercore/2004/helix/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Bump emscripten version to 2.0.34 (#548)
  src/ubuntu/18.04/webassembly/Dockerfile
  src/windowsservercore/2004/helix/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add an Ubuntu 20.04 image for building against Raspbian 10 (#547)
  manifest.json
  src/ubuntu/20.04/coredeps/Dockerfile
  src/ubuntu/20.04/cross/armv6/10/Dockerfile
  src/ubuntu/20.04/cross/armv6/10/hooks/post-build
  src/ubuntu/20.04/cross/armv6/10/hooks/pre-build
  src/ubuntu/20.04/crossdeps/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Disable Kusto ingestion during publish (#545)
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update common Docker engineering infrastructure with latest (#549)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add a Raspbian 10 Helix image for use on the Raspberry Pi pool
  manifest.json
  src/raspbian/10/helix/arm32v6/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Use ARM with variant, not whole new arch
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add ca-certificates to base, or pip install fails
  src/raspbian/10/helix/arm32v6/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Rebuild OpenSSL-compatible cert store (needed for Curl, Helix)
  src/raspbian/10/helix/arm32v6/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add yml for Raspbian
  eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Try again with the Yaml
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update common Docker engineering infrastructure with latest (#551)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Consolidate pipelines into a per-distro grouping
  eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml
  manifest.json
  src/alpine/manifest.json
  src/cbl-mariner/manifest.json
  src/centos/manifest.json
  src/debian/9/amd64/Dockerfile
  src/debian/manifest.json
  src/fedora/manifest.json
  src/nanoserver/manifest.json
  src/opensuse/manifest.json
  src/ubuntu/manifest.json
  src/windowsservercore/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update doc to describe new sub-manifests
  README.md
Due: none

Experiment w/ FROM scratch
  manifest.json
  src/raspbian/10/crossdeps/Dockerfile
  src/raspbian/10/helix/arm32v6/Dockerfile
  src/raspbian/10/helix/arm32v6/hooks/post-build
  src/raspbian/10/helix/arm32v6/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Consolidate pipelines into a per-OS grouping (#552)
  README.md
  eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml
  manifest.json
  src/alpine/manifest.json
  src/cbl-mariner/manifest.json
  src/centos/manifest.json
  src/debian/9/amd64/Dockerfile
  src/debian/manifest.json
  src/fedora/manifest.json
  src/nanoserver/manifest.json
  src/opensuse/manifest.json
  src/ubuntu/manifest.json
  src/windowsservercore/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Use existing crossrootfs generation infra to build raspbian Docker image
  src/raspbian/10/crossdeps/Dockerfile
  src/raspbian/10/helix/arm32v6/Dockerfile
  src/raspbian/10/helix/arm32v6/hooks/post-build
  src/raspbian/10/helix/arm32v6/hooks/pre-build
  src/ubuntu/build-scripts/build-rootfs.sh
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Remove Windows 2004 Dockerfiles
  src/windowsservercore/2004/helix/amd64/Dockerfile
  src/windowsservercore/2004/helix/webassembly/Dockerfile
  src/windowsservercore/2004/helix/webassembly/hooks/pre-build.ps1
  src/windowsservercore/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix duplicate tag
  src/raspbian/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Lie about the crossdeps CPU variant, to put it in the same place
  src/raspbian/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Remove Windows 2004 Dockerfiles (#554)
  src/windowsservercore/2004/helix/amd64/Dockerfile
  src/windowsservercore/2004/helix/webassembly/Dockerfile
  src/windowsservercore/2004/helix/webassembly/hooks/pre-build.ps1
  src/windowsservercore/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/common/package-scripts/get-installed-packages.container.sh
  eng/common/package-scripts/get-installed-packages.sh
  eng/common/package-scripts/get-upgradable-packages.container.bash.sh
  eng/common/package-scripts/get-upgradable-packages.container.sh
  eng/common/package-scripts/get-upgradable-packages.sh
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Don't try to install dependencies on Raspbian builders (ARM)
  eng/pipelines/steps/install-cross-build-prereqs.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Fix tpyo
  eng/pipelines/steps/install-cross-build-prereqs.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Grr
  eng/pipelines/steps/install-cross-build-prereqs.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update common Docker engineering infrastructure with latest (#555)
  eng/common/package-scripts/get-installed-packages.container.sh
  eng/common/package-scripts/get-installed-packages.sh
  eng/common/package-scripts/get-upgradable-packages.container.bash.sh
  eng/common/package-scripts/get-upgradable-packages.container.sh
  eng/common/package-scripts/get-upgradable-packages.sh
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Try a multi-stage FROM
  src/raspbian/10/helix/arm32v6/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Today I learned our tooling parses comments too
  src/raspbian/10/helix/arm32v6/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Don't comment it I guess
  src/raspbian/10/helix/arm32v6/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix comment accuracy
  src/raspbian/10/helix/arm32v6/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Raspbian helix image (#550)
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml
  eng/pipelines/steps/install-cross-build-prereqs.yml
  manifest.json
  src/raspbian/10/crossdeps/Dockerfile
  src/raspbian/10/helix/arm32v6/Dockerfile
  src/raspbian/10/helix/arm32v6/hooks/post-build
  src/raspbian/10/helix/arm32v6/hooks/pre-build
  src/raspbian/manifest.json
  src/ubuntu/build-scripts/build-rootfs.sh
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update common Docker engineering infrastructure with latest (#556)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add pkill and friends to CentOS Stream 9
  src/centos/stream9/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add pkill and friends to CentOS Stream 9 (#557)
  src/centos/stream9/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml
