Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml

eng/pipelines/dotnet-buildtools-prereqs-alpine.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-centos6.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-centos7.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 120

eng/pipelines/dotnet-buildtools-prereqs-centos8.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-debian.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-eng.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210
      ${{ if eq(variables['System.TeamProject'], 'public') }}:
        linuxAmdBuildPool: NetCorePublic-Pool
        linuxAmdBuildQueue: BuildPool.Ubuntu.1604.Amd64.Open
  ...

eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 120

eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 150
      customBuildInitSteps:
      - template: /eng/pipelines/steps/install-cross-build-prereqs.yml

eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      customBuildInitSteps:
      - template: /eng/pipelines/steps/install-cross-build-prereqs.yml

eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

Update common Docker engineering infrastructure with latest (#332)
  eng/common/Invoke-ImageBuilder.ps1
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/Invoke-ImageBuilder.ps1
  eng/common/build.ps1
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#333)
  eng/common/Invoke-ImageBuilder.ps1
  eng/common/build.ps1
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#334)
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#335)
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#336)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

WebAssembly: Update emscripten to 1.39.18
  src/ubuntu/18.04/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

WebAssembly: Update emscripten to 1.39.18 (#337)
  src/ubuntu/18.04/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Add crossdac container
  manifest.json
  src/ubuntu/20.04/crossdac/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/cleanup-docker-linux.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/test-images-linux-client.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#339)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/cleanup-docker-linux.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/test-images-linux-client.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add crossdac container (#338)
  manifest.json
  src/ubuntu/20.04/crossdac/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml

Add DBG
  src/ubuntu/16.04/helix/arm32v7/Dockerfile
  src/ubuntu/16.04/helix/arm64v8/Dockerfile
  src/ubuntu/18.04/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Add GDB 1604
  src/ubuntu/16.04/helix/arm32v7/Dockerfile
  src/ubuntu/16.04/helix/arm64v8/Dockerfile
Due: none

Add GDB 1604 (#341)
  src/ubuntu/16.04/helix/arm32v7/Dockerfile
  src/ubuntu/16.04/helix/arm64v8/Dockerfile
Due: none

Update common Docker engineering infrastructure with latest
  eng/common/Invoke-ImageBuilder.ps1
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/wait-for-ingestion.yml
  eng/common/templates/steps/download-build-artifact.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#342)
  eng/common/Invoke-ImageBuilder.ps1
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/wait-for-ingestion.yml
  eng/common/templates/steps/download-build-artifact.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#343)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add centos 7 image with cmake 3.6
  src/centos/7/source-build/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7.yml

Add libstdc++-static
  src/centos/7/source-build/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7.yml

Add to the manifest
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Remove all other source-build specific images
  manifest.json
  src/centos/8/source-build/Dockerfile
  src/debian/stretch/source-build/Dockerfile
  src/ubuntu/18.04/source-build/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Add new image
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Address pr feedback
  src/centos/7/source-build/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7.yml

Remove islocal
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/wait-for-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#345)
  eng/common/templates/jobs/wait-for-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add centos 7 image with cmake 3.6 (#344)
  manifest.json
  src/centos/7/source-build/Dockerfile
  src/centos/8/source-build/Dockerfile
  src/debian/stretch/source-build/Dockerfile
  src/ubuntu/18.04/source-build/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Split off PR-specific pipelines
  eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos6-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Need to explicitly set both trigger and pr to avoid defaults
  eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos6-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Split off PR-specific pipelines (#347)
  eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos6-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/Invoke-ImageBuilder.ps1
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#348)
  eng/common/Invoke-ImageBuilder.ps1
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/test-images-linux-client.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update run-tests.ps1 to include a TestCategories parameter
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

[master] Update common Docker engineering infrastructure with latest (#349)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/test-images-linux-client.yml
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml: any of: src/alpine
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml: any of: src/centos/6
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml: any file but: src, README.md
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml: any of: src/ubuntu/20*
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml: any of: src/windowsservercore/ltsc2019
