Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml, eng/pipelines/dotnet-buildtools-prereqs-centos.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml: any of: src/alpine
  eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml: any of: src/centos/stream9
  eng/pipelines/dotnet-buildtools-prereqs-centos.yml: any of: src/centos
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml: any of: src/centos/6
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml: any file but: src, README.md
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml: any of: src/nanoserver
  eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-pr.yml: any file but: *.md
  eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml: any of: src/windowsservercore/20H2
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs.yml: any of: manifest.json, src

Fix syntax
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Delete Ubuntu 16.04 and move images to 22.04
  src/ubuntu/16.04/Dockerfile
  src/ubuntu/16.04/arm32v7/Dockerfile
  src/ubuntu/16.04/arm64v8/Dockerfile
  src/ubuntu/16.04/coredeps/Dockerfile
  src/ubuntu/16.04/cross/Dockerfile
  src/ubuntu/16.04/cross/arm-alpine/Dockerfile
  src/ubuntu/16.04/cross/arm-alpine/hooks/pre-build
  src/ubuntu/16.04/cross/arm64-alpine/Dockerfile
  src/ubuntu/16.04/cross/arm64-alpine/hooks/pre-build
  src/ubuntu/16.04/cross/arm64/Dockerfile
  src/ubuntu/16.04/cross/arm64/hooks/pre-build
  src/ubuntu/16.04/cross/hooks/post-build
  src/ubuntu/16.04/cross/hooks/pre-build
  src/ubuntu/16.04/crossdeps/Dockerfile
  src/ubuntu/16.04/debpkg/Dockerfile
  src/ubuntu/16.04/helix/arm32v7/Dockerfile
  src/ubuntu/16.04/helix/arm64v8/Dockerfile
  src/ubuntu/16.04/mlnet/Dockerfile
  src/ubuntu/16.04/mlnet/helix/Dockerfile
  src/ubuntu/22.04/cross/arm-alpine/Dockerfile
  src/ubuntu/22.04/cross/arm-alpine/hooks/post-build
  src/ubuntu/22.04/cross/arm-alpine/hooks/pre-build
  src/ubuntu/22.04/cross/arm64-alpine/Dockerfile
  src/ubuntu/22.04/cross/arm64-alpine/hooks/post-build
  src/ubuntu/22.04/cross/arm64-alpine/hooks/pre-build
  src/ubuntu/22.04/cross/arm64/Dockerfile
  src/ubuntu/22.04/cross/arm64/hooks/post-build
  src/ubuntu/22.04/cross/arm64/hooks/pre-build
  src/ubuntu/22.04/mlnet/Dockerfile
  src/ubuntu/22.04/mlnet/helix/Dockerfile
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Address feedback
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Delete Ubuntu 16.04 and move images to 22.04 (#678)
  src/ubuntu/16.04/Dockerfile
  src/ubuntu/16.04/arm32v7/Dockerfile
  src/ubuntu/16.04/arm64v8/Dockerfile
  src/ubuntu/16.04/coredeps/Dockerfile
  src/ubuntu/16.04/cross/Dockerfile
  src/ubuntu/16.04/cross/arm-alpine/Dockerfile
  src/ubuntu/16.04/cross/arm-alpine/hooks/pre-build
  src/ubuntu/16.04/cross/arm64-alpine/Dockerfile
  src/ubuntu/16.04/cross/arm64-alpine/hooks/pre-build
  src/ubuntu/16.04/cross/arm64/Dockerfile
  src/ubuntu/16.04/cross/arm64/hooks/pre-build
  src/ubuntu/16.04/cross/hooks/post-build
  src/ubuntu/16.04/cross/hooks/pre-build
  src/ubuntu/16.04/crossdeps/Dockerfile
  src/ubuntu/16.04/debpkg/Dockerfile
  src/ubuntu/16.04/helix/arm32v7/Dockerfile
  src/ubuntu/16.04/helix/arm64v8/Dockerfile
  src/ubuntu/16.04/mlnet/Dockerfile
  src/ubuntu/16.04/mlnet/helix/Dockerfile
  src/ubuntu/22.04/cross/arm-alpine/Dockerfile
  src/ubuntu/22.04/cross/arm-alpine/hooks/post-build
  src/ubuntu/22.04/cross/arm-alpine/hooks/pre-build
  src/ubuntu/22.04/cross/arm64-alpine/Dockerfile
  src/ubuntu/22.04/cross/arm64-alpine/hooks/post-build
  src/ubuntu/22.04/cross/arm64-alpine/hooks/pre-build
  src/ubuntu/22.04/cross/arm64/Dockerfile
  src/ubuntu/22.04/cross/arm64/hooks/post-build
  src/ubuntu/22.04/cross/arm64/hooks/pre-build
  src/ubuntu/22.04/mlnet/Dockerfile
  src/ubuntu/22.04/mlnet/helix/Dockerfile
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Remove unused argument in alpine-arm hook
  src/ubuntu/22.04/cross/arm-alpine/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add ubuntu-22.04-cross-arm image
  src/ubuntu/22.04/cross/arm/Dockerfile
  src/ubuntu/22.04/cross/arm/hooks/post-build
  src/ubuntu/22.04/cross/arm/hooks/pre-build
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Delete unused xenial images under bionic
  src/ubuntu/18.04/cross/arm/16.04/Dockerfile
  src/ubuntu/18.04/cross/arm/16.04/hooks/post-build
  src/ubuntu/18.04/cross/arm/16.04/hooks/pre-build
  src/ubuntu/18.04/cross/arm64/16.04/Dockerfile
  src/ubuntu/18.04/cross/arm64/16.04/hooks/post-build
  src/ubuntu/18.04/cross/arm64/16.04/hooks/pre-build
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update readme
  README.md
Due: none

Fix symlinks
  src/ubuntu/18.04/cross/arm/hooks/post-build
  src/ubuntu/22.04/cross/arm/hooks/post-build
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add ubuntu-22.04-cross-arm image (#680)
  README.md
  src/ubuntu/18.04/cross/arm/16.04/Dockerfile
  src/ubuntu/18.04/cross/arm/16.04/hooks/post-build
  src/ubuntu/18.04/cross/arm/16.04/hooks/pre-build
  src/ubuntu/18.04/cross/arm64/16.04/Dockerfile
  src/ubuntu/18.04/cross/arm64/16.04/hooks/post-build
  src/ubuntu/18.04/cross/arm64/16.04/hooks/pre-build
  src/ubuntu/22.04/cross/arm-alpine/hooks/pre-build
  src/ubuntu/22.04/cross/arm/Dockerfile
  src/ubuntu/22.04/cross/arm/hooks/post-build
  src/ubuntu/22.04/cross/arm/hooks/pre-build
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add dockerfiles for "unknown" Linux
  src/debian/11/unknown-amd64/Dockerfile
  src/debian/11/unknown-amd64/README.md
  src/debian/11/unknown-helix/README.md
  src/debian/11/unknown-helix/amd64/Dockerfile
  src/debian/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add python-pip3 to the list of Ubuntu apt package dependencies
  src/ubuntu/18.04/coredeps/Dockerfile
  src/ubuntu/20.04/coredeps/Dockerfile
  src/ubuntu/22.04/coredeps/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update public endpoint name
  eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Fix codename in riscv64 pre-build hook
  src/ubuntu/22.04/cross/riscv64/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

[main] Update common Docker engineering infrastructure with latest (#682)
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Fix codename in riscv64 pre-build hook (#683)
  src/ubuntu/22.04/cross/riscv64/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add python-pip3 to the list of Ubuntu apt package dependencies (#681)
  src/ubuntu/18.04/coredeps/Dockerfile
  src/ubuntu/20.04/coredeps/Dockerfile
  src/ubuntu/22.04/coredeps/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

update msquic to 2.1.1
  src/debian/10/helix/amd64/Dockerfile
  src/debian/10/helix/amd64/microsoft.asc
  src/debian/10/helix/arm64v8/Dockerfile
  src/debian/11/helix/amd64/Dockerfile
  src/debian/11/helix/amd64/microsoft.asc
  src/debian/11/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

add apt-add-repository
  src/debian/11/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

[wasm] Update v8 and print its version
  src/ubuntu/20.04/helix/wasm/amd64/Dockerfile
  src/windowsservercore/ltsc2022/helix/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Use full path to v8
  src/ubuntu/20.04/helix/wasm/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Install the v8 for helixbot user, instead of root
  src/ubuntu/20.04/helix/wasm/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

[wasm] Update v8 and print its version (#686)
  src/ubuntu/20.04/helix/wasm/amd64/Dockerfile
  src/windowsservercore/ltsc2022/helix/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

update msquic to 2.1.1 (#685)
  src/debian/10/helix/amd64/Dockerfile
  src/debian/10/helix/amd64/microsoft.asc
  src/debian/10/helix/arm64v8/Dockerfile
  src/debian/11/helix/amd64/Dockerfile
  src/debian/11/helix/amd64/microsoft.asc
  src/debian/11/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

update msquic to 2.1.1 for Ubuntu arm64
  src/ubuntu/18.04/helix/arm64v8/Dockerfile
  src/ubuntu/22.04/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

update Fedora image to have msquic 2.1.1
  src/fedora/34/helix/amd64/Dockerfile
  src/fedora/36/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

fix build
  src/ubuntu/18.04/helix/arm64v8/Dockerfile
  src/ubuntu/22.04/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

add msquic 2.1.1 to Debian arm32 images
  src/debian/10/helix/arm32v7/Dockerfile
  src/debian/11/helix/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

update
  src/debian/10/helix/arm32v7/Dockerfile
  src/debian/11/helix/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

update
  src/ubuntu/18.04/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add additional packages for centos-stream9-helix
  src/centos/stream9/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml, eng/pipelines/dotnet-buildtools-prereqs-centos.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update src/debian/11/helix/arm32v7/Dockerfile
  src/debian/11/helix/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add msquic to OpenSUSE
  src/opensuse/15.2/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Install microsoft signing key
  src/opensuse/15.2/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update new images with floating tag
  src/debian/manifest.json
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add additional packages for centos-stream9-helix (#691)
  src/centos/stream9/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml, eng/pipelines/dotnet-buildtools-prereqs-centos.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

[main] Update common Docker engineering infrastructure with latest (#684)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update src/opensuse/15.2/helix/amd64/Dockerfile
  src/opensuse/15.2/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml
