Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml

eng/pipelines/dotnet-buildtools-prereqs-centos7.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 120

eng/pipelines/dotnet-buildtools-prereqs-debian.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 120

Updates from code review
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml
  manifest.json
Due: none

Add Helix NanoServer 1809 image
  manifest.json
  src/nanoserver/1809/helix/amd64/Dockerfile
Due: none

PR feedback
  src/nanoserver/1809/helix/amd64/Dockerfile
Due: none

further PR feedback
  src/nanoserver/1809/helix/amd64/Dockerfile
Due: none

Fix PR build by adding a stub test script
  eng/common/templates/steps/test-images-linux-client.yml
  eng/pipelines/variables/common.yml
  tests/run-tests.ps1
Due: none

Fix Windows tests
  eng/common/templates/steps/test-images-windows-client.yml
Due: none

Fix PR build by adding a stub test script (#158)
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/pipelines/variables/common.yml
  tests/run-tests.ps1
Due: none

Integrate latest eng/common folder
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/download-build-artifact.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/docker-images.yml
Due: none

Integrate latest eng/common folder (#161)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/download-build-artifact.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/docker-images.yml
Due: none

Set timeout for PR build
  eng/pipelines/dotnet-buildtools-prereqs-pr.yml
Due: none

Set timeout for PR build (#162)
  eng/pipelines/dotnet-buildtools-prereqs-pr.yml
Due: none

Update pipeline to make use of all stages
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/pipelines/variables/common.yml
  tests/run-tests.ps1
Due: none

Removing Dockerfiles for EOL distros (Fedora 28 and OpenSUSE 42.3)
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml
  manifest.json
  src/fedora/28/Dockerfile
  src/fedora/28/helix/amd64/Dockerfile
  src/opensuse/42.3/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml

Update pipeline to make use of all stages (#163)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/pipelines/variables/common.yml
  tests/run-tests.ps1
Due: none

Removing Dockerfiles for EOL distros (Fedora 28 and OpenSUSE 42.3) (#165)
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml
  manifest.json
  src/fedora/28/Dockerfile
  src/fedora/28/helix/amd64/Dockerfile
  src/opensuse/42.3/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml

Some small fixes: fix up helixbot's .vsts-env folder so that it owns it (change user from root to helixbot before creating it) and preinstalling azure-devops package. Incidental whitespace cleanup.
  src/alpine/3.8/helix/amd64/Dockerfile
  src/alpine/3.8/helix/arm64v8/Dockerfile
  src/alpine/3.9/helix/amd64/Dockerfile
  src/debian/10/helix/amd64/Dockerfile
  src/debian/10/helix/arm32v7/Dockerfile
  src/debian/10/helix/arm64v8/Dockerfile
  src/debian/9/helix/arm32v7/Dockerfile
  src/debian/9/helix/arm64v8/Dockerfile
  src/fedora/29/helix/amd64/Dockerfile
  src/fedora/30/helix/amd64/Dockerfile
  src/ubuntu/16.04/helix/arm32v7/Dockerfile
  src/ubuntu/16.04/helix/arm64v8/Dockerfile
  src/ubuntu/18.04/helix/arm32v7/Dockerfile
  src/ubuntu/18.04/helix/arm64v8/Dockerfile
  src/ubuntu/19.04/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian.yml

correct some Debian errors
  src/debian/10/helix/amd64/Dockerfile
  src/debian/10/helix/arm32v7/Dockerfile
  src/debian/10/helix/arm64v8/Dockerfile
  src/debian/9/helix/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian.yml

Fix extraneous \
  src/debian/9/helix/arm64v8/Dockerfile
  src/fedora/29/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian.yml

update image builder tags
  eng/common/templates/variables/docker-images.yml
Due: none

update image builder tags (#167)
  eng/common/templates/variables/docker-images.yml
Due: none

Set DOCKER_REPO variable
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/variables/common.yml
Due: none

Change docker-testrunner base image from stretch to stretch-slim
  manifest.json
  src/debian/stretch-slim/docker-testrunner/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian.yml

Update Image Builder tags
  eng/common/templates/variables/docker-images.yml
Due: none

Variable renames
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/steps/cleanup-docker-linux.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/variables/common.yml
Due: none

Update Image Builder tags (#170)
  eng/common/templates/variables/docker-images.yml
Due: none

Set DOCKER_REPO variable (#168)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/steps/cleanup-docker-linux.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/variables/common.yml
  eng/pipelines/variables/common.yml
Due: none

Change docker-testrunner base image from stretch to stretch-slim (#169)
  manifest.json
  src/debian/stretch-slim/docker-testrunner/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian.yml

enabling dumps for windows docker
  src/nanoserver/1803/helix/amd64/Dockerfile
  src/nanoserver/1809/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml

addressed code review changes
  src/nanoserver/1803/helix/amd64/Dockerfile
  src/nanoserver/1809/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml

fixed indentation
  src/nanoserver/1803/helix/amd64/Dockerfile
  src/nanoserver/1809/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml

Integrate image info split publish change
  eng/common/templates/jobs/publish.yml
Due: none

Integrate image info split publish change (#172)
  eng/common/templates/jobs/publish.yml
Due: none

Add link to image info file in readme
  README.md
Due: none

Add link to image info file in readme (#173)
  README.md
Due: none

enabling dumps for windows docker (#171)
  src/nanoserver/1803/helix/amd64/Dockerfile
  src/nanoserver/1809/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml

Add mono preview repo to Ubuntu 16 and 18 ARM32 docker images (see https://github.com/dotnet/coreclr/issues/25468#issuecomment-518320741)
  src/ubuntu/16.04/helix/arm32v7/Dockerfile
  src/ubuntu/18.04/helix/arm32v7/Dockerfile
Due: none

Integrate latest eng/common changes
  eng/common/Invoke-CleanupDocker.ps1
  eng/common/Invoke-ReadmeGeneration.ps1
  eng/common/build-and-test.ps1
  eng/common/readme.md
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/docker-images.yml
Due: none

Upgrade to latest Image Builder tags
  eng/common/templates/variables/docker-images.yml
Due: none

Integrate latest eng/common changes (#176)
  eng/common/Invoke-CleanupDocker.ps1
  eng/common/Invoke-ReadmeGeneration.ps1
  eng/common/build-and-test.ps1
  eng/common/readme.md
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/docker-images.yml
Due: none

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
