Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml: any of: src/alpine
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml: any of: src/centos/6
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml: any file but: src, README.md
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml: any of: src/ubuntu/20*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml: any of: src/ubuntu/20*
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml: any of: src/windowsservercore/ltsc2019

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/clean-acr-images.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#495)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/clean-acr-images.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#496)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add helix platform support for Alpine 3.13
  manifest.json
  src/alpine/3.13/amd64/Dockerfile
  src/alpine/3.13/helix/amd64/Dockerfile
  src/alpine/3.13/helix/arm64v8/Dockerfile
  src/alpine/3.14/arm32v7/Dockerfile
  src/alpine/3.14/arm64v8/Dockerfile
  src/alpine/3.14/helix/arm32v7/Dockerfile
  src/alpine/3.14/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add helix platform support for Alpine 3.13 (#497)
  manifest.json
  src/alpine/3.13/amd64/Dockerfile
  src/alpine/3.13/helix/amd64/Dockerfile
  src/alpine/3.13/helix/arm64v8/Dockerfile
  src/alpine/3.14/arm32v7/Dockerfile
  src/alpine/3.14/arm64v8/Dockerfile
  src/alpine/3.14/helix/arm32v7/Dockerfile
  src/alpine/3.14/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add required common pipeline variables
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add required common pipeline variables (#498)
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add missing tzdata in alpine 3.13 and 3.14 amd64
  src/alpine/3.13/amd64/Dockerfile
  src/alpine/3.14/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml

Delete redundant dependencies
  src/alpine/3.13/WithNode/amd64/Dockerfile
  src/alpine/3.13/amd64/Dockerfile
  src/alpine/3.13/helix/amd64/Dockerfile
  src/alpine/3.13/helix/arm32v7/Dockerfile
  src/alpine/3.13/helix/arm64v8/Dockerfile
  src/alpine/3.14/amd64/Dockerfile
  src/alpine/3.14/helix/arm32v7/Dockerfile
  src/alpine/3.14/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml

List each package in its own line
  src/alpine/3.13/WithNode/amd64/Dockerfile
  src/alpine/3.14/WithNode/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml

Add missing tzdata in alpine 3.13 and 3.14 amd64 (#499)
  src/alpine/3.13/WithNode/amd64/Dockerfile
  src/alpine/3.13/amd64/Dockerfile
  src/alpine/3.13/helix/amd64/Dockerfile
  src/alpine/3.13/helix/arm32v7/Dockerfile
  src/alpine/3.13/helix/arm64v8/Dockerfile
  src/alpine/3.14/WithNode/amd64/Dockerfile
  src/alpine/3.14/amd64/Dockerfile
  src/alpine/3.14/helix/arm32v7/Dockerfile
  src/alpine/3.14/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#500)
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Downgrade to node.js v10.24.1 for ExtractFiles task
  src/alpine/3.13/WithNode/amd64/Dockerfile
  src/alpine/3.14/WithNode/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml

Downgrade to node.js v10.24.1 for ExtractFiles task (#501)
  src/alpine/3.13/WithNode/amd64/Dockerfile
  src/alpine/3.14/WithNode/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml

Use node.js from a shared location
  src/alpine/3.13/WithNode/amd64/Dockerfile
  src/alpine/3.14/WithNode/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml

Fix mono repository host name
  src/ubuntu/16.04/helix/arm32v7/Dockerfile
  src/ubuntu/18.04/helix/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Use node.js from a shared location (#503)
  src/alpine/3.13/WithNode/amd64/Dockerfile
  src/alpine/3.14/WithNode/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml

Fix mono repository host name (#505)
  src/ubuntu/16.04/helix/arm32v7/Dockerfile
  src/ubuntu/18.04/helix/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Skip installing pip from weak deps
  src/fedora/34/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml

Skip installing pip from weak deps (#506)
  src/fedora/34/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml

Add a separate image for gcc 11
  manifest.json
  src/debian/11/gcc11/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Use Alpine 3.13 (now default) for cross-build image
  src/ubuntu/16.04/cross/arm-alpine/hooks/pre-build
  src/ubuntu/16.04/cross/arm64-alpine/hooks/pre-build
  src/ubuntu/18.04/cross/arm-alpine/hooks/pre-build
  src/ubuntu/18.04/cross/arm64-alpine/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Update common Docker engineering infrastructure with latest
  eng/common/Install-DotNetSdk.ps1
  eng/common/Invoke-WithRetry.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#508)
  eng/common/Install-DotNetSdk.ps1
  eng/common/Invoke-WithRetry.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

add Fedora35 Helix image
  manifest.json
  src/fedora/35/amd64/Dockerfile
  src/fedora/35/amd64/microsoft.asc
  src/fedora/35/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml

Add a separate image for gcc 11 (#504)
  manifest.json
  src/debian/11/gcc11/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add Ubuntu 21.04 helix image
  manifest.json
  src/ubuntu/21.04/helix/amd64/Dockerfile
  src/ubuntu/21.04/helix/arm32v7/Dockerfile
  src/ubuntu/21.04/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

add some DNS debug
  src/fedora/35/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml

add some DNS debug
  src/fedora/35/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml

add delay
  src/fedora/35/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml

add delay
  src/fedora/35/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml

Change os version
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#511)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

openSUSE initial attempt
  manifest.json
  src/opensuse/18.04/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml

Add Windows Server Core 20H2 helix Amd64
  manifest.json
  src/windowsservercore/20h2/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Apply review comments
  manifest.json
  src/windowsservercore/20h2/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml
