Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml

eng/pipelines/dotnet-buildtools-prereqs-alpine.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-centos6.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 300

eng/pipelines/dotnet-buildtools-prereqs-centos7.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 120

eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-centos8.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-debian.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-eng.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210
      linuxAmdBuildPool: NetCorePublic-Pool
      linuxAmdBuildQueue: BuildPool.Ubuntu.1604.Amd64.Open
      customBuildInitSteps:
  ...

eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-fedora.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-mariner.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 120

eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

Change casing in path
  src/windowsservercore/20H2/helix/amd64/Dockerfile
Due: none

Add pipelines
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Apply PR comments
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml
  src/ubuntu/21.04/helix/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Drop arm32
  manifest.json
  src/ubuntu/21.04/helix/arm32v7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Apply PR comments
  eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml
  manifest.json
  src/opensuse/15.2/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml

Update manifest.json
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add Windows Server Core 20H2 helix Amd64 (#513)
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml
  manifest.json
  src/windowsservercore/20H2/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add Ubuntu 21.04 helix image (#510)
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml
  manifest.json
  src/ubuntu/21.04/helix/amd64/Dockerfile
  src/ubuntu/21.04/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/build.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#514)
  eng/common/build.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

OpenSUSE - helix amd64 (#512)
  eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml
  manifest.json
  src/opensuse/15.2/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml

Use Alpine 3.13 (now default) for cross-build image (#507)
  src/ubuntu/16.04/cross/arm-alpine/hooks/pre-build
  src/ubuntu/16.04/cross/arm64-alpine/hooks/pre-build
  src/ubuntu/18.04/cross/arm-alpine/hooks/pre-build
  src/ubuntu/18.04/cross/arm64-alpine/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Misc. cleanups after changes * Remove version from alpine arm64 cross script * Change branch to main in README to avoid redirect
  README.md
  src/ubuntu/16.04/cross/arm64-alpine/hooks/pre-build
  src/ubuntu/18.04/cross/arm64-alpine/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

CBL-Mariner toolkit builder Dockerfile
  manifest.json
  src/ubuntu/20.04/cbl-mariner/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml

remove obsolete Fedora 32 and FreeBSD 11
  manifest.json
  src/fedora/32/amd64/Dockerfile
  src/fedora/32/helix/amd64/Dockerfile
  src/fedora/32/helix/amd64/microsoft.asc
  src/ubuntu/18.04/cross/freebsd/11/Dockerfile
  src/ubuntu/18.04/cross/freebsd/11/hooks/post-build
  src/ubuntu/18.04/cross/freebsd/11/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

CBL-Mariner toolkit builder Dockerfile (#518)
  manifest.json
  src/ubuntu/20.04/cbl-mariner/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml

Misc. cleanups after changes (#517)
  README.md
  src/ubuntu/16.04/cross/arm64-alpine/hooks/pre-build
  src/ubuntu/18.04/cross/arm64-alpine/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/jobs/wait-for-ingestion.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/cleanup-docker-linux.yml
  eng/common/templates/steps/cleanup-docker-windows.yml
  eng/common/templates/steps/download-build-artifact.yml
  eng/common/templates/steps/init-common.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/common-paths.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#516)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/jobs/wait-for-ingestion.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/cleanup-docker-linux.yml
  eng/common/templates/steps/cleanup-docker-windows.yml
  eng/common/templates/steps/download-build-artifact.yml
  eng/common/templates/steps/init-common.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/common-paths.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add jq package to CBL-Mariner builder
  src/ubuntu/20.04/cbl-mariner/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml

Fix pipeline trigger paths
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add jq package to CBL-Mariner builder (#521)
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml
  src/ubuntu/20.04/cbl-mariner/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml

mlnet ubuntu 18.04 helix
  manifest.json
  src/ubuntu/18.04/mlnet/helix/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Fix font installation for wasm Dockerfile build
  src/windowsservercore/2004/helix/webassembly/hooks/pre-build.ps1
Due: eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml

Fix font installation for wasm Dockerfile build (#523)
  src/windowsservercore/2004/helix/webassembly/hooks/pre-build.ps1
Due: eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/jobs/test-images-windows-client.yml
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/steps/set-dry-run.yml
  eng/common/templates/steps/set-image-info-path-var.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/steps/validate-branch.yml
  eng/common/templates/steps/wait-for-mcr-doc-ingestion.yml
  eng/common/templates/steps/wait-for-mcr-image-ingestion.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
  eng/common/templates/variables/dotnet/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update pipelines to conform to new infra
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml
  eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml
  eng/pipelines/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add font package
  src/opensuse/15.2/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml

mlnet ubuntu 18.04 helix (#522)
  manifest.json
  src/ubuntu/18.04/mlnet/helix/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Add missing build packages
  src/opensuse/15.2/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml

openSUSE- Add font and missing build packages package (#525)
  src/opensuse/15.2/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#526)
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#527)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Remove Dockerfile for CBL-Mariner toolkit dependencies
  manifest.json
  src/ubuntu/20.04/cbl-mariner/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml

Remove Dockerfile for CBL-Mariner toolkit dependencies (#528)
  manifest.json
  src/ubuntu/20.04/cbl-mariner/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml

Add x86-linux
  manifest.json
  src/ubuntu/18.04/cross/x86-linux/Dockerfile
  src/ubuntu/18.04/cross/x86-linux/hooks/post-build
  src/ubuntu/18.04/cross/x86-linux/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Add x86-linux (#530)
  manifest.json
  src/ubuntu/18.04/cross/x86-linux/Dockerfile
  src/ubuntu/18.04/cross/x86-linux/hooks/post-build
  src/ubuntu/18.04/cross/x86-linux/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml: any of: src/alpine
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml: any of: src/centos/6
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml: any file but: src, README.md
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml: any of: src/ubuntu/20*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml: any of: src/ubuntu/20*
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml: any of: src/windowsservercore/ltsc2019
