Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml: any of: src/alpine
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml: any of: src/centos/6
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml: any file but: src, README.md
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml: any of: src/ubuntu/18.04

Update common Docker engineering infrastructure with latest (#314)
  eng/common/templates/stages/build-test-publish-repo.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#315)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Added correct dependencies for libomp-dev
  src/ubuntu/16.04/mlnet/Dockerfile
Due: none

Update Dockerfile
  src/ubuntu/16.04/mlnet/Dockerfile
Due: none

Use libomp-dev instead of libomp-9-dev (#311)
  src/ubuntu/16.04/mlnet/Dockerfile
Due: none

Add some Server Core SKUs
  manifest.json
  src/servercore/1909/helix/amd64/Dockerfile
  src/servercore/ltsc2019/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update manifest.json
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

branding changes, add yamls
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml
  manifest.json
  src/windowsservercore/1909/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2019/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

PR feedback
  src/windowsservercore/1909/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2019/helix/amd64/Dockerfile
Due: none

Update download URL of ICU for CentOS 6
  src/centos/6/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos6.yml

Update download URL of ICU for CentOS 6 (#318)
  src/centos/6/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos6.yml

Update Emscripten to version 1.36.16 in dockerfile
  src/ubuntu/18.04/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Update Emscripten to version 1.36.16 in dockerfile (#320)
  src/ubuntu/18.04/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Add Helix support for Alpine 3.12
  manifest.json
  src/alpine/3.12/helix/amd64/Dockerfile
  src/alpine/3.12/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Bug with Alpine 3.12 Docker image
  src/alpine/3.12/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml

Pin ffi gem to a supported version
  src/centos/7/rpmpkg/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7.yml

Pin ffi gem to a supported version (#323)
  src/centos/7/rpmpkg/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7.yml

Add image to build runtime on illumos x64
  manifest.json
  src/ubuntu/18.04/cross/illumos/Dockerfile
  src/ubuntu/18.04/cross/illumos/hooks/post-build
  src/ubuntu/18.04/cross/illumos/hooks/pre-build
  src/ubuntu/18.04/crossdeps/Dockerfile
  src/ubuntu/build-scripts/build-rootfs.sh
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/steps/cleanup-docker-linux.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#319)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/steps/cleanup-docker-linux.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add Helix WASM image with V8 engine: https://github.com/dotnet/core-eng/issues/10034
  manifest.json
  src/ubuntu/20.04/helix/wasm/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add image to build runtime on illumos x64 (#324)
  manifest.json
  src/ubuntu/18.04/cross/illumos/Dockerfile
  src/ubuntu/18.04/cross/illumos/hooks/post-build
  src/ubuntu/18.04/cross/illumos/hooks/pre-build
  src/ubuntu/18.04/crossdeps/Dockerfile
  src/ubuntu/build-scripts/build-rootfs.sh
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Symlink post-build to build-rootfs-cleanup.sh
  src/ubuntu/18.04/cross/freebsd/11/hooks/post-build
  src/ubuntu/18.04/cross/freebsd/12/hooks/post-build
  src/ubuntu/18.04/cross/illumos/hooks/post-build
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

PR feedback - package alphabetization, add pipeline for Ubuntu 20.
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml
  src/ubuntu/20.04/helix/wasm/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Symlink post-build to build-rootfs-cleanup.sh (#327)
  src/ubuntu/18.04/cross/freebsd/11/hooks/post-build
  src/ubuntu/18.04/cross/freebsd/12/hooks/post-build
  src/ubuntu/18.04/cross/illumos/hooks/post-build
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#326)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update emscripten to 1.39.17.
  src/ubuntu/18.04/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Update emscripten to 1.39.17. (#329)
  src/ubuntu/18.04/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Define ARM64 version of testrunner
  manifest.json
  src/debian/stretch-slim/docker-testrunner/amd64/Dockerfile
  src/debian/stretch-slim/docker-testrunner/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Remove commit SHA from shared tag
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#331)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/post-build.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add unique ID to testrunner tags
  eng/pipelines/variables/common.yml
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Set UniqueId variable in build script
  build.ps1
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Define ARM64 version of testrunner (#330)
  build.ps1
  eng/pipelines/variables/common.yml
  manifest.json
  src/debian/stretch-slim/docker-testrunner/amd64/Dockerfile
  src/debian/stretch-slim/docker-testrunner/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/Invoke-ImageBuilder.ps1
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/steps/init-docker-linux.yml
  eng/common/templates/steps/init-docker-windows.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml
