Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

eng/pipelines/dotnet-buildtools-prereqs-alpine.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-centos6.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-centos7.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      linuxAmdBuildJobTimeout: 300

eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-centos8.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-debian.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-eng.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210
      linuxAmdBuildPool: NetCorePublic-Pool
      linuxAmdBuildQueue: BuildPool.Ubuntu.1604.Amd64.Open
      customBuildInitSteps:
  ...

eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-fedora.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

[main] Update common Docker engineering infrastructure with latest (#628)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Get newer v8 engine
  src/windowsservercore/ltsc2022/helix/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Get newer v8 engine (#629)
  src/windowsservercore/ltsc2022/helix/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update Android NDK to r23c
  src/ubuntu/18.04/android/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update Android NDK to r23c (#630)
  src/ubuntu/18.04/android/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Clean up eng/common directory
  eng/common/cleanup-docker.sh
  eng/common/package-scripts/Dockerfile.scripts
  eng/common/package-scripts/get-installed-packages.container.sh
  eng/common/package-scripts/get-installed-packages.sh
  eng/common/package-scripts/get-upgradable-packages.container.bash.sh
  eng/common/package-scripts/get-upgradable-packages.container.sh
  eng/common/package-scripts/get-upgradable-packages.sh
  eng/common/templates/jobs/generate-sbom.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Delete Ubuntu 21.04 Dockerfiles
  src/ubuntu/21.04/helix/amd64/Dockerfile
  src/ubuntu/21.04/helix/arm64v8/Dockerfile
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Delete Ubuntu 21.04 Dockerfiles (#632)
  src/ubuntu/21.04/helix/amd64/Dockerfile
  src/ubuntu/21.04/helix/arm64v8/Dockerfile
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Clean up eng/common directory (#631)
  eng/common/cleanup-docker.sh
  eng/common/package-scripts/Dockerfile.scripts
  eng/common/package-scripts/get-installed-packages.container.sh
  eng/common/package-scripts/get-installed-packages.sh
  eng/common/package-scripts/get-upgradable-packages.container.bash.sh
  eng/common/package-scripts/get-upgradable-packages.container.sh
  eng/common/package-scripts/get-upgradable-packages.sh
  eng/common/templates/jobs/generate-sbom.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Increase Ubuntu build timeout
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Increase Ubuntu build timeout (#635)
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/parse-os-versions.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Delete test script since it was just a placeholder anyway
  eng/pipelines/variables/common.yml
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

[main] Update common Docker engineering infrastructure with latest (#634)
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/parse-os-versions.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/docker-images.yml
  eng/pipelines/variables/common.yml
  tests/run-tests.ps1
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add docker images from Aspnet/Benchmarks
  src/alpine/3.16/aspnet-benchmarks/Dockerfile
  src/alpine/manifest.json
  src/debian/11/aspnet-benchmarks/Dockerfile
  src/debian/8/aspnet-benchmarks/mongo/Dockerfile
  src/debian/8/aspnet-benchmarks/postgres-techempower/Dockerfile
  src/debian/9/aspnet-benchmarks/Dockerfile
  src/debian/manifest.json
  src/ubuntu/18.04/aspnet-benchmarks/Dockerfile
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

[main] Update common Docker engineering infrastructure with latest (#637)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add cross-arm64-freebsd-13 image
  src/ubuntu/18.04/cross/freebsd-arm64/13/Dockerfile
  src/ubuntu/18.04/cross/freebsd-arm64/13/hooks/post-build
  src/ubuntu/18.04/cross/freebsd-arm64/13/hooks/pre-build
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Reintroduce devtoolset 7, for Ubuntu 18.04 compatibility
  src/centos/7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add cross-arm64-freebsd-13 image (#638)
  src/ubuntu/18.04/cross/freebsd-arm64/13/Dockerfile
  src/ubuntu/18.04/cross/freebsd-arm64/13/hooks/post-build
  src/ubuntu/18.04/cross/freebsd-arm64/13/hooks/pre-build
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Increase Ubuntu pipeline timeout
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Increase Ubuntu pipeline timeout (#640)
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

[main] Update common Docker engineering infrastructure with latest (#641)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/steps/copy-base-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

[main] Update common Docker engineering infrastructure with latest (#642)
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/steps/copy-base-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add jq in runtime dependencies
  src/alpine/3.13/amd64/Dockerfile
  src/alpine/3.13/helix/arm32v7/Dockerfile
  src/alpine/3.13/helix/arm64v8/Dockerfile
  src/alpine/3.14/amd64/Dockerfile
  src/alpine/3.14/helix/arm32v7/Dockerfile
  src/alpine/3.14/helix/arm64v8/Dockerfile
  src/alpine/3.15/amd64/Dockerfile
  src/alpine/3.15/helix/arm32v7/Dockerfile
  src/alpine/3.15/helix/arm64v8/Dockerfile
  src/centos/7/Dockerfile
  src/centos/7/source-build/amd64/Dockerfile
  src/centos/stream9/Dockerfile
  src/debian/9/amd64/Dockerfile
  src/debian/9/arm32v7/Dockerfile
  src/debian/9/arm64v8/Dockerfile
  src/fedora/34/amd64/Dockerfile
  src/ubuntu/16.04/Dockerfile
  src/ubuntu/16.04/coredeps/Dockerfile
  src/ubuntu/18.04/amd64/Dockerfile
  src/ubuntu/18.04/coredeps/Dockerfile
  src/ubuntu/18.04/mono/amd64/Dockerfile
  src/ubuntu/18.04/mono/arm32v7/Dockerfile
  src/ubuntu/18.04/mono/arm64v8/Dockerfile
  src/ubuntu/20.04/coredeps/Dockerfile
  src/ubuntu/22.04/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add linux-riscv64 image
  src/ubuntu/20.04/cross/riscv64/Dockerfile
  src/ubuntu/20.04/cross/riscv64/hooks/post-build
  src/ubuntu/20.04/cross/riscv64/hooks/pre-build
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix alphabetical order
  src/ubuntu/18.04/mono/amd64/Dockerfile
  src/ubuntu/18.04/mono/arm32v7/Dockerfile
  src/ubuntu/18.04/mono/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add jq in runtime dependencies (#643)
  src/alpine/3.13/amd64/Dockerfile
  src/alpine/3.13/helix/arm32v7/Dockerfile
  src/alpine/3.13/helix/arm64v8/Dockerfile
  src/alpine/3.14/amd64/Dockerfile
  src/alpine/3.14/helix/arm32v7/Dockerfile
  src/alpine/3.14/helix/arm64v8/Dockerfile
  src/alpine/3.15/amd64/Dockerfile
  src/alpine/3.15/helix/arm32v7/Dockerfile
  src/alpine/3.15/helix/arm64v8/Dockerfile
  src/centos/7/Dockerfile
  src/centos/7/source-build/amd64/Dockerfile
  src/centos/stream9/Dockerfile
  src/debian/9/amd64/Dockerfile
  src/debian/9/arm32v7/Dockerfile
  src/debian/9/arm64v8/Dockerfile
  src/fedora/34/amd64/Dockerfile
  src/ubuntu/16.04/Dockerfile
  src/ubuntu/16.04/coredeps/Dockerfile
  src/ubuntu/18.04/amd64/Dockerfile
  src/ubuntu/18.04/coredeps/Dockerfile
  src/ubuntu/18.04/mono/amd64/Dockerfile
  src/ubuntu/18.04/mono/arm32v7/Dockerfile
  src/ubuntu/18.04/mono/arm64v8/Dockerfile
  src/ubuntu/20.04/coredeps/Dockerfile
  src/ubuntu/22.04/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Delete Ubuntu 21.10 Dockerfiles
  src/ubuntu/21.10/helix/amd64/Dockerfile
  src/ubuntu/21.10/helix/arm64v8/Dockerfile
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Install Docker
  src/ubuntu/18.04/android/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Touch-up
  src/ubuntu/18.04/android/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Delete Ubuntu 21.10 Dockerfiles (#645)
  src/ubuntu/21.10/helix/amd64/Dockerfile
  src/ubuntu/21.10/helix/arm64v8/Dockerfile
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add linux-riscv64 image (#644)
  src/ubuntu/20.04/cross/riscv64/Dockerfile
  src/ubuntu/20.04/cross/riscv64/hooks/post-build
  src/ubuntu/20.04/cross/riscv64/hooks/pre-build
  src/ubuntu/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update Android Dockerfile to install Docker (#646)
  src/ubuntu/18.04/android/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Use Ubuntu 20.04 (or better) repositories on host
  src/ubuntu/build-scripts/install-cross-build-prereqs.sh
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Try using separate list file
  src/ubuntu/build-scripts/install-cross-build-prereqs.sh
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Simplify syntax
  src/ubuntu/build-scripts/install-cross-build-prereqs.sh
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml: any of: src/alpine
  eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml: any of: src/centos/stream9
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml: any of: src/centos/6
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml: any file but: src, README.md
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml: any of: src/nanoserver
  eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-pr.yml: any file but: *.md
  eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml: any of: src/windowsservercore/20H2
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs.yml: any of: manifest.json, src
