Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml

eng/pipelines/dotnet-buildtools-prereqs-alpine.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/alpine/*
pr:
  branches:
    include:
    - master
  paths:
    include:
    - src/alpine/*

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/alpine/*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-centos6.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/centos/6/*
pr:
  branches:
    include:
    - master
  paths:
    include:
    - src/centos/6/*

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/centos/6*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-centos7.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/centos/7/*
pr: none

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/centos/7*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 120

eng/pipelines/dotnet-buildtools-prereqs-debian.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/debian/*
pr:
  branches:
    include:
    - master
  paths:
    include:
    - src/debian/*

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/debian/*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-eng.yml:

trigger: none
pr:
  branches:
    include:
    - master
  paths:
    exclude:
    - src/*
    - README.md

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path '*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210
      customBuildInitSteps:
      - template: /eng/pipelines/steps/install-cross-build-prereqs.yml

eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/nanoserver/1803/*
pr: none

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/nanoserver/1803/*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/opensuse/*
pr: none

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/opensuse/*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 120

Switch to newer Python 3 on CentOS (#247)
  src/centos/6/Dockerfile
  src/centos/7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#248)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/steps/validate-image-sizes.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#249)
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/common/templates/steps/validate-image-sizes.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/Get-BaseImageStatus.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#250)
  eng/common/Get-BaseImageStatus.ps1
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/build.ps1
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#251)
  eng/common/build.ps1
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Dockerfile for RPM packaging, based on CentOS 7
  manifest.json
  src/centos/7/rpmpkg/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Clean the yum cache.
  src/centos/7/rpmpkg/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#253)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/steps/publish-readmes.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Updated the comment.
  src/centos/7/rpmpkg/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7.yml

Dockerfile for RPM packaging, based on CentOS 7 (#252)
  manifest.json
  src/centos/7/rpmpkg/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#254)
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/Invoke-CleanupDocker.ps1
  eng/common/templates/steps/cleanup-docker-linux.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#255)
  eng/common/Invoke-CleanupDocker.ps1
  eng/common/templates/steps/cleanup-docker-linux.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update to build a 16.04 rootfs
  manifest.json
  src/ubuntu/16.04/cross/14.04/hooks/pre-build
  src/ubuntu/16.04/cross/16.04/Dockerfile
  src/ubuntu/16.04/cross/16.04/hooks/post-build
  src/ubuntu/16.04/cross/16.04/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add python3 as a build depency
  src/ubuntu/16.04/Dockerfile
Due: none

Stop building 14.04 rootfs
  src/ubuntu/16.04/cross/16.04/Dockerfile
  src/ubuntu/16.04/cross/16.04/hooks/post-build
  src/ubuntu/16.04/cross/16.04/hooks/pre-build
Due: none

Update the manifest
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

address feedback
  src/ubuntu/16.04/Dockerfile
Due: none

Update to build a 16.04 rootfs (#256)
  manifest.json
  src/ubuntu/16.04/cross/14.04/Dockerfile
  src/ubuntu/16.04/cross/14.04/hooks/post-build
  src/ubuntu/16.04/cross/14.04/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add python3 as a build dependency (#257)
  src/ubuntu/16.04/Dockerfile
Due: none

Add ubuntu 18.04 cross build images
  manifest.json
  src/ubuntu/18.04/coredeps/Dockerfile
  src/ubuntu/18.04/cross/Dockerfile
  src/ubuntu/18.04/cross/arm64-alpine/Dockerfile
  src/ubuntu/18.04/cross/arm64-alpine/hooks/post-build
  src/ubuntu/18.04/cross/arm64-alpine/hooks/pre-build
  src/ubuntu/18.04/cross/arm64/Dockerfile
  src/ubuntu/18.04/cross/arm64/hooks/post-build
  src/ubuntu/18.04/cross/arm64/hooks/pre-build
  src/ubuntu/18.04/cross/hooks/post-build
  src/ubuntu/18.04/cross/hooks/pre-build
  src/ubuntu/18.04/crossdeps/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#258)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Remove references to nodejs-legacy
  src/ubuntu/16.04/Dockerfile
  src/ubuntu/18.04/amd64/Dockerfile
  src/ubuntu/18.04/coredeps/Dockerfile
Due: none

Update common Docker engineering infrastructure with latest
  eng/common/build.ps1
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#261)
  eng/common/build.ps1
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Create gcc-7 symlink available in PATH
  src/centos/7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7.yml

Create gcc-7 symlink available in PATH (#262)
  src/centos/7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7.yml

Address feedback
  src/ubuntu/18.04/cross/arm64-alpine/hooks/pre-build
  src/ubuntu/18.04/cross/arm64/hooks/pre-build
  src/ubuntu/18.04/cross/hooks/pre-build
  src/ubuntu/18.04/crossdeps/Dockerfile
Due: none

Add ubuntu 18.04 cross build images (#260)
  manifest.json
  src/ubuntu/16.04/Dockerfile
  src/ubuntu/18.04/amd64/Dockerfile
  src/ubuntu/18.04/coredeps/Dockerfile
  src/ubuntu/18.04/cross/Dockerfile
  src/ubuntu/18.04/cross/arm64-alpine/Dockerfile
  src/ubuntu/18.04/cross/arm64-alpine/hooks/post-build
  src/ubuntu/18.04/cross/arm64-alpine/hooks/pre-build
  src/ubuntu/18.04/cross/arm64/Dockerfile
  src/ubuntu/18.04/cross/arm64/hooks/post-build
  src/ubuntu/18.04/cross/arm64/hooks/pre-build
  src/ubuntu/18.04/cross/hooks/post-build
  src/ubuntu/18.04/cross/hooks/pre-build
  src/ubuntu/18.04/crossdeps/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add g++-7 symlink
  src/centos/7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7.yml

Add g++-7 symlink (#263)
  src/centos/7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7.yml
