Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml

eng/pipelines/dotnet-buildtools-prereqs-alpine.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/alpine/*
pr:
  branches:
    include:
    - master
  paths:
    include:
    - src/alpine/*

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/alpine/*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-centos6.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/centos/6/*
pr:
  branches:
    include:
    - master
  paths:
    include:
    - src/centos/6/*

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/centos/6*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-centos7.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/centos/7/*
pr: none

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/centos/7*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 120

eng/pipelines/dotnet-buildtools-prereqs-debian.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/debian/*
pr:
  branches:
    include:
    - master
  paths:
    include:
    - src/debian/*

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/debian/*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-eng.yml:

trigger: none
pr:
  branches:
    include:
    - master
  paths:
    exclude:
    - src/*
    - README.md

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path '*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210
      customBuildInitSteps:
      - template: /eng/pipelines/steps/install-cross-build-prereqs.yml

eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/nanoserver/1803/*
pr: none

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/nanoserver/1803/*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml:

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/opensuse/*
pr: none

variables:
- template: variables/common.yml
- name: imageBuilder.pathArgs
  value: --path 'src/opensuse/*'

stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 120

Update common Docker engineering infrastructure with latest (#264)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add 16.04 cross docker file
  src/ubuntu/18.04/cross/16.04/Dockerfile
  src/ubuntu/18.04/cross/16.04/hooks/post-build
  src/ubuntu/18.04/cross/16.04/hooks/pre-build
Due: none

Change location and update manifest
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add arm32 images as well.
  manifest.json
  src/ubuntu/18.04/cross/arm/16.04/Dockerfile
  src/ubuntu/18.04/cross/arm/16.04/hooks/post-build
  src/ubuntu/18.04/cross/arm/16.04/hooks/pre-build
  src/ubuntu/18.04/cross/arm64/16.04/Dockerfile
  src/ubuntu/18.04/cross/arm64/16.04/hooks/post-build
  src/ubuntu/18.04/cross/arm64/16.04/hooks/pre-build
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Fix path
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Correct build-rootfs paths
  src/ubuntu/18.04/cross/arm/16.04/Dockerfile
  src/ubuntu/18.04/cross/arm/16.04/hooks/pre-build
  src/ubuntu/18.04/cross/arm64/16.04/hooks/pre-build
Due: none

Fix build issues
  src/ubuntu/18.04/cross/arm/16.04/hooks/pre-build
  src/ubuntu/18.04/cross/arm64/16.04/hooks/pre-build
Due: none

Add 18.04 to arm prebuild
  src/ubuntu/18.04/cross/arm/16.04/hooks/pre-build
Due: none

Remove x86 ubuntu arch, it is no longer supported
  src/ubuntu/16.04/crossdeps/Dockerfile
  src/ubuntu/18.04/cross/arm/16.04/hooks/pre-build
Due: none

Do not create x86 rootfs, it no longer is supported.
  src/ubuntu/16.04/cross/Dockerfile
  src/ubuntu/18.04/cross/Dockerfile
  src/ubuntu/build-scripts/build-rootfs.sh
Due: none

Remove another x86 reference
  src/ubuntu/18.04/cross/arm/16.04/Dockerfile
Due: none

Up timeout on pipeline
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add 1604 cross arm64 (#265)
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml
  manifest.json
  src/ubuntu/16.04/cross/Dockerfile
  src/ubuntu/16.04/crossdeps/Dockerfile
  src/ubuntu/18.04/cross/arm/16.04/Dockerfile
  src/ubuntu/18.04/cross/arm/16.04/hooks/post-build
  src/ubuntu/18.04/cross/arm/16.04/hooks/pre-build
  src/ubuntu/18.04/cross/arm64/16.04/Dockerfile
  src/ubuntu/18.04/cross/arm64/16.04/hooks/post-build
  src/ubuntu/18.04/cross/arm64/16.04/hooks/pre-build
  src/ubuntu/build-scripts/build-rootfs.sh
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add new image to the manifest.
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add the correct cmake version
  src/ubuntu/18.04/crossdeps/Dockerfile
Due: none

Use bionic in place of xenial
  src/ubuntu/18.04/crossdeps/Dockerfile
Due: none

Add the correct cmake version (#268)
  src/ubuntu/18.04/crossdeps/Dockerfile
Due: none

Add Fedora 31 build image. (#267)
  manifest.json
  src/fedora/31/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add dockerfiles for CentOS 8
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml
  manifest.json
  src/centos/8/Dockerfile
  src/centos/8/rpmpkg/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add dockerfiles for CentOS 8 (#269)
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml
  manifest.json
  src/centos/8/Dockerfile
  src/centos/8/rpmpkg/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add an Android building image
  manifest.json
  src/ubuntu/18.04/android/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Fixups
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Switch base
  src/ubuntu/18.04/android/Dockerfile
Due: none

Add an Android building image (#271)
  manifest.json
  src/ubuntu/18.04/android/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Fix broken rootfs cleanup logic
  src/ubuntu/build-scripts/build-rootfs-cleanup.sh
  src/ubuntu/build-scripts/build-rootfs.sh
Due: none

Updated ubuntu 18.04 post-build hooks to be symbolic links
  src/ubuntu/18.04/cross/arm/16.04/hooks/post-build
  src/ubuntu/18.04/cross/arm64-alpine/hooks/post-build
  src/ubuntu/18.04/cross/arm64/16.04/hooks/post-build
  src/ubuntu/18.04/cross/arm64/hooks/post-build
  src/ubuntu/18.04/cross/hooks/post-build
Due: none

increase ubuntu 18.04 build leg timeout
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Swap position of commit SHA and timestamp in tags
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update readme
  README.md
Due: none

Fix broken rootfs cleanup logic (#274)
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml
  src/ubuntu/18.04/cross/arm/16.04/hooks/post-build
  src/ubuntu/18.04/cross/arm64-alpine/hooks/post-build
  src/ubuntu/18.04/cross/arm64/16.04/hooks/post-build
  src/ubuntu/18.04/cross/arm64/hooks/post-build
  src/ubuntu/18.04/cross/hooks/post-build
  src/ubuntu/build-scripts/build-rootfs-cleanup.sh
  src/ubuntu/build-scripts/build-rootfs.sh
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Swap position of commit SHA and timestamp in tags (#275)
  README.md
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Install cmake in Android image
  src/ubuntu/18.04/android/Dockerfile
Due: none

Install cmake in Android image (#276)
  src/ubuntu/18.04/android/Dockerfile
Due: none

Add new Debian and Ubuntu source-build images with updated CMake for source-build.
  manifest.json
  src/debian/stretch/source-build/Dockerfile
  src/ubuntu/18.04/source-build/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Base source-build images on regular buildtools images.
  manifest.json
  src/debian/stretch/source-build/Dockerfile
  src/ubuntu/18.04/source-build/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Flip timestamp and commit SHA per #266.
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Fix full tag paths.
  src/debian/stretch/source-build/Dockerfile
  src/ubuntu/18.04/source-build/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian.yml

Actually fix the full file path.
  src/debian/stretch/source-build/Dockerfile
  src/ubuntu/18.04/source-build/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian.yml

add images to build runtime on FreeBSD
  manifest.json
  src/ubuntu/18.04/cross/freebsd/11/Dockerfile
  src/ubuntu/18.04/cross/freebsd/11/hooks/post-build
  src/ubuntu/18.04/cross/freebsd/11/hooks/pre-build
  src/ubuntu/18.04/cross/freebsd/12/Dockerfile
  src/ubuntu/18.04/cross/freebsd/12/hooks/post-build
  src/ubuntu/18.04/cross/freebsd/12/hooks/pre-build
  src/ubuntu/18.04/crossdeps/Dockerfile
  src/ubuntu/build-scripts/build-rootfs.sh
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add new Debian and Ubuntu source-build images with updated CMake for source-build. (#270)
  manifest.json
  src/debian/stretch/source-build/Dockerfile
  src/ubuntu/18.04/source-build/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml
