Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml, eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml, eng/pipelines/dotnet-buildtools-prereqs-centos.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml: any of: src
  eng/pipelines/dotnet-buildtools-prereqs-almalinux.yml: any of: src/almalinux
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml: any of: src/alpine
  eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml: any of: src/centos
  eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml: any of: src/centos/stream9
  eng/pipelines/dotnet-buildtools-prereqs-centos.yml: any of: src/centos
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml: any of: src/centos/6
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml: any file but: src, *.md, .git*, CODEOWNERS, LICENSE
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml: any of: src/nanoserver
  eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-pr.yml: any file but: *.md
  eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml: any of: src/windowsservercore/20H2
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs.yml: any of: manifest.json, src

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add CentOS Stream 10 test image (#1298)
  CODEOWNERS
  manifest.json
  src/centos-stream/10.0/helix/Dockerfile
  src/centos-stream/9.0/amd64/Dockerfile
  src/centos-stream/9.0/helix/amd64/Dockerfile
  src/centos-stream/9.0/mlnet/helix/Dockerfile
  src/centos-stream/manifest.json
  src/centos/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

[main] Update common Docker engineering infrastructure with latest (#1300)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Install pip for MicroBuild install task validation
  src/cbl-mariner/2.0/fpm/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Azure Linux cross riscv464: Update debootstrap to 1.0.138 (#1301)
  src/azurelinux/3.0/net10.0/cross/riscv64/Dockerfile
  src/azurelinux/3.0/net8.0/cross/riscv64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/riscv64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Install pip on alpine
  src/alpine/3.17/amd64/Dockerfile
  src/alpine/3.18/amd64/Dockerfile
  src/alpine/3.19/amd64/Dockerfile
  src/alpine/3.20/amd64/Dockerfile
  src/alpine/3.21/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Don't need on < 3.19
  src/alpine/3.17/amd64/Dockerfile
  src/alpine/3.18/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Install pip on Alpine >= 3.19 (#1305)
  src/alpine/3.19/amd64/Dockerfile
  src/alpine/3.20/amd64/Dockerfile
  src/alpine/3.21/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add linux-loongarch64 images
  src/azurelinux/3.0/net10.0/cross/loongarch64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/loongarch64/Dockerfile
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add linux-loongarch64 images (#1306)
  src/azurelinux/3.0/net10.0/cross/loongarch64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/loongarch64/Dockerfile
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Copy as helixbot user
  src/alpine/3.17/helix/Dockerfile
  src/alpine/3.18/helix/Dockerfile
  src/alpine/3.20/helix/Dockerfile
  src/alpine/3.21/helix/Dockerfile
  src/azurelinux/3.0/helix/Dockerfile
  src/centos-stream/10.0/helix/Dockerfile
  src/debian/12/helix/amd64/Dockerfile
  src/debian/12/helix/arm32v7/Dockerfile
  src/debian/12/helix/arm64v8/Dockerfile
  src/debian/13/helix/Dockerfile
  src/fedora/41/helix/Dockerfile
  src/ubuntu/24.04/helix/Dockerfile
  src/ubuntu/24.10/helix/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add a missing include dir
  src/azurelinux/3.0/net10.0/cross/loongarch64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

.
  src/azurelinux/3.0/net10.0/cross/loongarch64-musl/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add a missing include dir (#1308)
  src/azurelinux/3.0/net10.0/cross/loongarch64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Copy as helixbot user (#1307)
  src/alpine/3.17/helix/Dockerfile
  src/alpine/3.18/helix/Dockerfile
  src/alpine/3.20/helix/Dockerfile
  src/alpine/3.21/helix/Dockerfile
  src/azurelinux/3.0/helix/Dockerfile
  src/centos-stream/10.0/helix/Dockerfile
  src/debian/12/helix/amd64/Dockerfile
  src/debian/12/helix/arm32v7/Dockerfile
  src/debian/12/helix/arm64v8/Dockerfile
  src/debian/13/helix/Dockerfile
  src/fedora/41/helix/Dockerfile
  src/ubuntu/24.04/helix/Dockerfile
  src/ubuntu/24.10/helix/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Dummy change to retrigger the new arch build
  src/azurelinux/3.0/net10.0/crossdeps-llvm/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

.
  src/azurelinux/3.0/net10.0/cross/loongarch64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Dummy change to retrigger the new arch build (#1309)
  src/azurelinux/3.0/net10.0/cross/loongarch64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/loongarch64/Dockerfile
  src/azurelinux/3.0/net10.0/crossdeps-llvm/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Revert "Dummy change to retrigger the new arch build (#1309)"
  src/azurelinux/3.0/net10.0/cross/loongarch64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/loongarch64/Dockerfile
  src/azurelinux/3.0/net10.0/crossdeps-llvm/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Apply arcade 15374
  src/azurelinux/3.0/net10.0/cross/loongarch64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Revert temp change
  src/azurelinux/3.0/net10.0/cross/loongarch64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Revert "Dummy change to retrigger the new arch build" (#1310)
  src/azurelinux/3.0/net10.0/cross/loongarch64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/loongarch64/Dockerfile
  src/azurelinux/3.0/net10.0/crossdeps-llvm/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Rebuild loongarch ubuntu image
  src/azurelinux/3.0/net10.0/cross/loongarch64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Touch crossdeps-builder clone step
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Rebuild loongarch ubuntu image (#1311)
  src/azurelinux/3.0/net10.0/cross/loongarch64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Delete Alpine 3.17 Dockerfiles
  src/alpine/3.17/amd64/Dockerfile
  src/alpine/3.17/helix/Dockerfile
  src/alpine/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Delete Alpine 3.17 Dockerfiles (#1314)
  src/alpine/3.17/amd64/Dockerfile
  src/alpine/3.17/helix/Dockerfile
  src/alpine/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Azure Linux cross riscv464: Update debootstrap to 1.0.140
  src/azurelinux/3.0/net10.0/cross/riscv64/Dockerfile
  src/azurelinux/3.0/net8.0/cross/riscv64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/riscv64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Azure Linux cross riscv464: Update debootstrap to 1.0.140 (#1317)
  src/azurelinux/3.0/net10.0/cross/riscv64/Dockerfile
  src/azurelinux/3.0/net8.0/cross/riscv64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/riscv64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update llvm from 19.1.0 to 19.1.6
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

.
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

.
  src/azurelinux/3.0/net10.0/crossdeps-llvm/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update llvm from 19.1.0 to 19.1.6 (#1318)
  src/azurelinux/3.0/net10.0/cross/loongarch64/Dockerfile
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net10.0/crossdeps-llvm/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-all-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update pipeline schedule to run twice a month
  eng/pipelines/dotnet-buildtools-prereqs-all.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add GitHub issue labeler workflow
  .github/labeler-config.yml
  .github/workflows/labeler.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add GitHub issue labeler workflow (#1319)
  .github/labeler-config.yml
  .github/workflows/labeler.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml
