Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml

eng/pipelines/dotnet-buildtools-prereqs-alpine.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-centos6.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-centos7.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 120

eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-centos8.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-debian.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-eng.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210
      linuxAmdBuildPool: NetCorePublic-Pool
      linuxAmdBuildQueue: BuildPool.Ubuntu.1604.Amd64.Open
      customBuildInitSteps:
  ...

eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-fedora.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 120

eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 120
      customBuildInitSteps:
      - template: /eng/pipelines/steps/install-cross-build-prereqs.yml

eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 150
      linuxAmdBuildPool: NetCorePublic-Pool
      linuxAmdBuildQueue: BuildPool.Ubuntu.1604.Amd64.Open
      customBuildInitSteps:
  ...

Update common Docker engineering infrastructure with latest (#413)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Rollback to 2.0.12 until fixes go in
  src/ubuntu/18.04/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Rollback emscripten to 2.0.12 until fixes go in (#414)
  src/ubuntu/18.04/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Add local tags to Helix Ubuntu 18.04 images, for easier FROM in Mono images
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add some Docker files for Mono CI
  src/ubuntu/18.04/mono/amd64/Dockerfile
  src/ubuntu/18.04/mono/arm32v7/Dockerfile
  src/ubuntu/18.04/mono/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Add new images for Mono building
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Revert "Add local tags to Helix Ubuntu 18.04 images, for easier FROM in Mono images"
  manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Base from root ubuntu images instead of helix images
  src/ubuntu/18.04/mono/amd64/Dockerfile
  src/ubuntu/18.04/mono/arm32v7/Dockerfile
  src/ubuntu/18.04/mono/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Rename helixbot to monobot for Mono
  src/ubuntu/18.04/mono/amd64/Dockerfile
  src/ubuntu/18.04/mono/arm32v7/Dockerfile
  src/ubuntu/18.04/mono/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Add Docker images for legacy Mono CI (#415)
  manifest.json
  src/ubuntu/18.04/mono/amd64/Dockerfile
  src/ubuntu/18.04/mono/arm32v7/Dockerfile
  src/ubuntu/18.04/mono/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Add main branch to list of pipeline trigger branches
  eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add main branch to list of pipeline trigger branches (#417)
  eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add a Docker image for Windows builds of Mono
  manifest.json
  src/windows/2004/mono/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Don't install Mono
  src/windows/2004/mono/amd64/Dockerfile
Due: none

Don't install Python
  src/windows/2004/mono/amd64/Dockerfile
Due: none

Don't install git
  src/windows/2004/mono/amd64/Dockerfile
Due: none

Use our own copy of merge modules
  src/windows/2004/mono/amd64/Dockerfile
Due: none

Use UNIX line endings
  src/windows/2004/mono/amd64/Dockerfile
Due: none

Remove Python from $PATH
  src/windows/2004/mono/amd64/Dockerfile
Due: none

Increase Windows build timeout, that is a SLOW build in CI
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

New pipelines for Windows non-server
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Remove installer-related stuff, it hangs the build & we can do that on Jenkins
  src/windows/2004/mono/amd64/Dockerfile
Due: none

Update common Docker engineering infrastructure with latest
  eng/common/templates/steps/set-image-info-path-var.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Replace references to 'master' with 'main'
  README.md
  eng/common/Invoke-ReadmeGeneration.ps1
  eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#419)
  eng/common/templates/steps/set-image-info-path-var.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add ping, so ping tests don't fail
  src/ubuntu/18.04/mono/amd64/Dockerfile
  src/ubuntu/18.04/mono/arm32v7/Dockerfile
  src/ubuntu/18.04/mono/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Add ping to Mono containers, so ping tests don't fail (#421)
  src/ubuntu/18.04/mono/amd64/Dockerfile
  src/ubuntu/18.04/mono/arm32v7/Dockerfile
  src/ubuntu/18.04/mono/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Replace references to 'master' with 'main' (#420)
  README.md
  eng/common/Invoke-ReadmeGeneration.ps1
  eng/pipelines/dotnet-buildtools-prereqs-alpine-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#422)
  eng/common/templates/jobs/publish.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add Helix Debian 11 images
  manifest.json
  src/debian/11/helix/amd64/Dockerfile
  src/debian/11/helix/arm32v7/Dockerfile
  src/debian/11/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Add Helix Debian 11 images (#423)
  manifest.json
  src/debian/11/helix/amd64/Dockerfile
  src/debian/11/helix/arm32v7/Dockerfile
  src/debian/11/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml

[wasm] Move emsdk to subdir so helix can write to its parent directory
  src/ubuntu/18.04/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/set-dry-run.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#425)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/set-dry-run.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/cg-detection.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Update common Docker engineering infrastructure with latest (#428)
  eng/common/templates/jobs/cg-detection.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/variables/common.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml

Stop using legacy syntax for ENV instruction
  src/alpine/3.12/helix/arm32v7/Dockerfile
  src/alpine/3.9/WithNode/amd64/Dockerfile
  src/alpine/3.9/arm32v7/Dockerfile
  src/centos/8/helix/amd64/Dockerfile
  src/debian/10/helix/amd64/Dockerfile
  src/debian/10/helix/arm32v7/Dockerfile
  src/debian/10/helix/arm64v8/Dockerfile
  src/debian/11/helix/amd64/Dockerfile
  src/debian/11/helix/arm32v7/Dockerfile
  src/debian/11/helix/arm64v8/Dockerfile
  src/debian/9/helix/arm32v7/Dockerfile
  src/debian/9/helix/arm64v8/Dockerfile
  src/ubuntu/16.04/helix/arm32v7/Dockerfile
  src/ubuntu/16.04/helix/arm64v8/Dockerfile
  src/ubuntu/18.04/android/Dockerfile
  src/ubuntu/18.04/helix/amd64/Dockerfile
  src/ubuntu/18.04/helix/arm32v7/Dockerfile
  src/ubuntu/18.04/helix/arm64v8/Dockerfile
  src/ubuntu/18.04/mono/amd64/Dockerfile
  src/ubuntu/18.04/mono/arm32v7/Dockerfile
  src/ubuntu/18.04/mono/arm64v8/Dockerfile
  src/ubuntu/20.04/crossdac/amd64/Dockerfile
  src/ubuntu/20.04/helix/wasm/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml

Stop using legacy syntax for ENV instruction (#430)
  src/alpine/3.12/helix/arm32v7/Dockerfile
  src/alpine/3.9/WithNode/amd64/Dockerfile
  src/alpine/3.9/arm32v7/Dockerfile
  src/centos/8/helix/amd64/Dockerfile
  src/debian/10/helix/amd64/Dockerfile
  src/debian/10/helix/arm32v7/Dockerfile
  src/debian/10/helix/arm64v8/Dockerfile
  src/debian/11/helix/amd64/Dockerfile
  src/debian/11/helix/arm32v7/Dockerfile
  src/debian/11/helix/arm64v8/Dockerfile
  src/debian/9/helix/arm32v7/Dockerfile
  src/debian/9/helix/arm64v8/Dockerfile
  src/ubuntu/16.04/helix/arm32v7/Dockerfile
  src/ubuntu/16.04/helix/arm64v8/Dockerfile
  src/ubuntu/18.04/android/Dockerfile
  src/ubuntu/18.04/helix/amd64/Dockerfile
  src/ubuntu/18.04/helix/arm32v7/Dockerfile
  src/ubuntu/18.04/helix/arm64v8/Dockerfile
  src/ubuntu/18.04/mono/amd64/Dockerfile
  src/ubuntu/18.04/mono/arm32v7/Dockerfile
  src/ubuntu/18.04/mono/arm64v8/Dockerfile
  src/ubuntu/20.04/crossdac/amd64/Dockerfile
  src/ubuntu/20.04/helix/wasm/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml

Changes to accommodate updated python cryptography dependency in Helix WHL
  src/alpine/3.10/helix/arm64v8/Dockerfile
  src/alpine/3.11/helix/arm64v8/Dockerfile
  src/alpine/3.12/helix/arm32v7/Dockerfile
  src/alpine/3.12/helix/arm64v8/Dockerfile
  src/debian/10/helix/arm32v7/Dockerfile
  src/debian/10/helix/arm64v8/Dockerfile
  src/debian/11/helix/arm32v7/Dockerfile
  src/debian/11/helix/arm64v8/Dockerfile
  src/debian/9/helix/arm32v7/Dockerfile
  src/debian/9/helix/arm64v8/Dockerfile
  src/ubuntu/16.04/helix/arm32v7/Dockerfile
  src/ubuntu/16.04/helix/arm64v8/Dockerfile
  src/ubuntu/18.04/helix/arm32v7/Dockerfile
  src/ubuntu/18.04/helix/arm64v8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml: any of: src/alpine
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml: any of: src/centos/6
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml: any file but: src, README.md
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml: any of: src/ubuntu/20*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml: any of: src/ubuntu/20*
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml: any of: src/windowsservercore/ltsc2019
