Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml: any of: src/alpine
  eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml: any of: src/centos/stream9
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml: any of: src/centos/6
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml: any file but: src, README.md
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml: any of: src/nanoserver
  eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-pr.yml: any file but: *.md
  eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml: any of: src/windowsservercore/20H2
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs.yml: any of: manifest.json, src

Use ubuntu-18.04-helix
  src/ubuntu/18.04/helix/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix user
  src/ubuntu/18.04/helix/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update Dockerfile
  src/centos/7/rpmpkg/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update centos7 rpmpkg to use ruby 2.5 (#610)
  src/centos/7/rpmpkg/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add gcc and cmake
  src/cbl-mariner/2.0/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

update image to use mcr, tdnf instead of yum and update package dependencies
  src/cbl-mariner/2.0/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Remove use of yum
  src/cbl-mariner/2.0/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update Dockerfile
  src/cbl-mariner/2.0/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Comment make
  src/cbl-mariner/2.0/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Remove download by wget
  src/cbl-mariner/2.0/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update manifest
  src/cbl-mariner/2.0/amd64/Dockerfile
  src/cbl-mariner/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update manifest.json
  src/cbl-mariner/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Upgrade gcc:11 to gcc:12
  src/debian/11/gcc12/Dockerfile
  src/debian/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Apply suggestions from code review
  src/cbl-mariner/2.0/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Upgrade gcc:11 to gcc:12 (#616)
  src/debian/11/gcc12/Dockerfile
  src/debian/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add Mariner 2.0 variant (#615)
  src/cbl-mariner/2.0/amd64/Dockerfile
  src/cbl-mariner/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

[main] Update common Docker engineering infrastructure with latest (#617)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Remove Fedora 33 Dockerfiles
  src/fedora/33/amd64/Dockerfile
  src/fedora/33/helix/amd64/Dockerfile
  src/fedora/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Remove Fedora 33 Dockerfiles (#619)
  src/fedora/33/amd64/Dockerfile
  src/fedora/33/helix/amd64/Dockerfile
  src/fedora/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

[main] Update common Docker engineering infrastructure with latest (#621)
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Remove CentOS 8 Dockerfiles
  src/centos/8/Dockerfile
  src/centos/8/helix/amd64/Dockerfile
  src/centos/8/rpmpkg/Dockerfile
  src/centos/8/source-build/Dockerfile
  src/centos/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Remove CentOS 8 Dockerfiles (#622)
  src/centos/8/Dockerfile
  src/centos/8/helix/amd64/Dockerfile
  src/centos/8/rpmpkg/Dockerfile
  src/centos/8/source-build/Dockerfile
  src/centos/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Bump emscripten to 3.1.12
  src/ubuntu/18.04/webassembly/Dockerfile
  src/windowsservercore/ltsc2022/helix/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Bump emscripten to 3.1.12 (#623)
  src/ubuntu/18.04/webassembly/Dockerfile
  src/windowsservercore/ltsc2022/helix/webassembly/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update ca-certificates in CentOS7 images
  src/centos/7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

fixup! Update ca-certificates in CentOS7 images
  src/centos/7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update ca-certificates in CentOS7 images (#624)
  src/centos/7/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/jobs/test-images-windows-client.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/steps/set-dry-run.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/steps/validate-branch.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

[main] Update common Docker engineering infrastructure with latest (#625)
  eng/common/templates/jobs/publish.yml
  eng/common/templates/jobs/test-images-linux-client.yml
  eng/common/templates/jobs/test-images-windows-client.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/steps/set-dry-run.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/common/templates/steps/validate-branch.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
  eng/common/templates/variables/dotnet/build-test-publish.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add Mariner 2.0 image with fpm tool
  src/cbl-mariner/2.0/fpm/amd64/Dockerfile
  src/cbl-mariner/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update per feedback
  src/cbl-mariner/2.0/fpm/amd64/Dockerfile
  src/cbl-mariner/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add Mariner 2.0 image with fpm tool (#626)
  src/cbl-mariner/2.0/fpm/amd64/Dockerfile
  src/cbl-mariner/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Remove Alpine 3.12 images
  src/alpine/3.12/helix/amd64/Dockerfile
  src/alpine/3.12/helix/arm32v7/Dockerfile
  src/alpine/3.12/helix/arm64v8/Dockerfile
  src/alpine/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Remove Alpine 3.12 images (#627)
  src/alpine/3.12/helix/amd64/Dockerfile
  src/alpine/3.12/helix/arm32v7/Dockerfile
  src/alpine/3.12/helix/arm64v8/Dockerfile
  src/alpine/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml
